<template>
	<div>
		<DocsTitle content="Media Objects" />
		<div>
			<figure class="media">
				<div class="media-figure">
					<img src="~/assets/img/logo.png" alt="" />
				</div>
				<div class="media-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					incidunt tempora ratione sapiente, nesciunt consectetur officiis
					commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
					rerum, reprehenderit modi. Fugiat?
				</div>
			</figure>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="figure"
					:attributes="[{ title: 'class', value: 'media' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'media-figure' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' }
					]"
				/>
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'media-content' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" />Lorem ipsum dolor sit amet, consectetur
				adipisicing elit. Aperiam incidunt tempora ratione sapiente,
			</div>
			<div>
				<Spacer :spacer="8" />nesciunt consectetur officiis commodi soluta. Sit
				sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit
				modi. Fugiat?
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div><CloseTag tag="figure" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'MediaIndex',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
