<template>
	<div>
		<DocsTitle content="With Title, Button, and Link" />
		<div>
			<figure class="media">
				<div class="media-figure">
					<img src="~/assets/img/logo.png" alt="" width="150px" />
				</div>
				<div class="media-content">
					<h4 class="media-title text-primary">Title</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu.
					</p>
					<p class="mb-0">
						<button class="btn--primary btn--small btn--icon mr-8">
							<i class="bzi-play"></i>
						</button>
						<a href="#">Visit somewhere...</a>
					</p>
				</div>
			</figure>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="figure"
					:attributes="[{ title: 'class', value: 'media' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'media-figure' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' },
						{ title: '', value: '150px' }
					]"
				/>
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'media-content' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="h4"
					:attributes="[{ title: 'class', value: 'media-title text-primary' }]"
				/>Title<CloseTag tag="h4" />
			</div>
			<div><Spacer :spacer="8" /><OpenTag tag="p" /></div>
			<div>
				<Spacer :spacer="12" />
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</div>
			<div>
				<Spacer :spacer="12" />
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam,
			</div>
			<div>
				<Spacer :spacer="12" />
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
			<div>
				<Spacer :spacer="12" />
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				esse
			</div>
			<div>
				<Spacer :spacer="12" />
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non
			</div>
			<div>
				<Spacer :spacer="12" />
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="p" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="button"
					:attributes="[
						{ title: 'class', value: 'btn--primary btn--small btn--icon mr-8' }
					]"
				/><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-play' }]"
				/><CloseTag tag="i" /><CloseTag tag="button" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>Visit somewhere...<CloseTag tag="a" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="p" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div><CloseTag tag="figure" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'MediaWith',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
