<template>
	<span
		><span v-for="(attribute, index) in attributes" :key="index"
			><DocsHTMLAttribute
				:attribute="attribute.title"
				:value="attribute.value"
			/>{{ index + 1 !== attributes.length ? ' ' : '' }}</span
		></span
	>
</template>

<script>
export default {
	name: 'DocsDocsHTMLAttributes',

	props: {
		attributes: {
			type: Array,
			default() {
				return []
			}
		}
	}
}
</script>
