<template>
	<span
		><span>{{ attribute }}=</span
		><span class="html-att-value">"{{ value }}"</span></span
	>
</template>

<script>
export default {
	name: 'DocsDocsHTMLAttribute',

	props: {
		attribute: {
			type: String,
			required: true
		},
		value: {
			type: String,
			required: true
		}
	}
}
</script>
