<template>
	<span class="html-tag">&lt;/{{ tag }}&gt;</span>
</template>

<script>
export default {
	name: 'DocsHTMLCloseTag',

	props: {
		tag: {
			type: String,
			required: true
		}
	}
}
</script>
