<template>
	<div>
		<DocsHTMLOpenTag :tag="tag" :attributes="attributes" />{{ content
		}}<DocsHTMLCloseTag :tag="tag" />
	</div>
</template>

<script>
// limitations: only use when 1 line element

export default {
	name: 'DocsHTMLSingleLineElement',

	props: {
		tag: {
			type: String,
			required: true
		},
		attributes: {
			type: Array,
			default() {
				return []
			}
		},
		content: {
			type: String,
			required: true
		}
	}
}
</script>
