<template>
	<span class="html-tag"
		><span>&lt;{{ tag }}</span
		><span v-if="attributes.length > 0"
			>&nbsp;<DocsHTMLAttributes :attributes="attributes" /></span
		><span>&gt;</span></span
	>
</template>

<script>
export default {
	name: 'DocsHTMLOpenTag',

	props: {
		tag: {
			type: String,
			required: true
		},
		attributes: {
			type: Array,
			default() {
				return []
			}
		}
	}
}
</script>
