<template>
	<span>
		<span v-for="i in spacer" :key="i">&nbsp;</span>
	</span>
</template>

<script>
export default {
	name: 'DocsHTMLSpacer',

	props: {
		spacer: {
			type: Number,
			required: true,
			default: 0
		}
	}
}
</script>
