<template>
	<div>
		<DocsSlickSingle />
		<hr />
		<DocsSlickMultiple />
		<hr />
		<DocsSlickResponsive />
		<hr />
		<DocsSlickWidth />
		<hr />
		<DocsSlickAdaptive />
		<hr />
		<DocsSlickAuto />
		<hr />
		<DocsSlickSync />
	</div>
</template>

<script>
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
	name: 'SlickCarouselPage',

	layout: 'documentation'
}
</script>
