// Typography
// ------------------------------------------------------------------------ //
$base_px_font_size: 16;
$base_font_size: $base_px_font_size * 1px;
$base_line_height: 1.6;
$font_serif: 'Open Sans',-apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
	'Helvetica Neue', Arial, sans-serif;
$base_font_family: $font_serif;
$space: $base_line_height * 1em;

// new
$font_firamono: 'Fira Mono', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
$font_consolas: 'Consolas';

// Colors
// ------------------------------------------------------------------------ //

$palettes: (
	'primary': #0094ED, // past: #ff6600 (orange)
	'secondary': #76848C, // new
	'black': #000,
	'orange': #ff6600,
	'danger': #F0210B, // past: red, #D60000
	'green': #30981D,
	'grey': #828282,
	'secondary-grey': #E6E6E6, // new
	'dark-grey': #4D4D4D,
	'warning': #FFAE00, // past: yellow, #FCC12D
	'blue': #4F8AD0,
	'dark-blue': #365f91 // new
);

$light-palettes: (
	'light-grey': #D3D3D3, // edited, past: #EDEDED
	'secondary-light-grey': #EDEDED, // new
	'third-grey': #EFECF4, // new
	'fourth-grey': #F0F0F0, // new
	'white': #fff,
	'light-green': #66B947,
);

@function palette($color) {
	@if map-has-key($palettes, $color) {
		@return map-get($palettes, $color);
	} @else if map-has-key($light-palettes, $color) {
		@return map-get($light-palettes, $color);
	} @else {
		@warn "key `#{$color}` was not found. Falling back to #000";
		@return #000;
	}
}

$primary: palette('primary');
$secondary: palette('secondary');
$green: palette('green');
$orange: palette('orange');
$danger: palette('danger'); // past red
$grey: palette('grey');
$secondary-grey: palette('secondary-grey'); // new
$dark-grey: palette('dark-grey');
$warning: palette('warning'); // past yellow
$blue: palette('blue');
$dark-blue: palette('dark-blue');

$light-grey: palette('light-grey');
$secondary-light-grey: palette('secondary-light-grey'); // new
$third-grey: palette('third-grey');
$fourth-grey: palette('fourth-grey'); // new
$white: palette('white');
$light-green: palette('light-green');

$black: #000;
$black90: lighten($black, 10%);
$black80: lighten($black, 20%);
$black70: lighten($black, 30%);
$black60: lighten($black, 40%);
$black50: lighten($black, 50%);
$black40: lighten($black, 60%);
$black30: lighten($black, 70%);
$black20: lighten($black, 80%);
$black10: lighten($black, 90%);
$black7: lighten($black, 93%);
$black5: lighten($black, 95%);

$link: $primary;
$link_hover: darken($link, 10%);

$selection_bg: #b3d4fc;
$selection_color: $black;

$shadow: 0 2px 6px rgba($black, 0.4);

// Break Points
// ------------------------------------------------------------------------ //

$small: 'screen and (min-width: 28em)';
$small_portrait: 'screen and (min-width: 28em) and (orientation: portrait)';
$small_landscape: 'screen and (min-width: 28em) and (orientation: landscape)';

$medium: 'screen and (min-width: 48em)';
$medium_portrait: 'screen and (min-width: 48em) and (orientation: portrait)';
$medium_landscape: 'screen and (min-width: 48em) and (orientation: landscape)';

$large: 'screen and (min-width: 64em)';
$extra_large: 'screen and (min-width: 75em)';

// new
$small_rvrs: 'screen and (max-width: 28em)';
$medium_rvrs: 'screen and (max-width: 48em)';
$large_rvrs: 'screen and (max-width: 64em)';
$extra_large_rvrs: 'screen and (max-width: 75em)';

$retina: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 1.25dppx), (min-resolution: 120dpi)';

@import '../mixin/mixin';
