<template>
	<div>
		<DocsTitle content="Left Pagination" />
		<ol class="pagination--left">
			<li>
				<a href="#"><i class="bzi-angle-left"></i></a>
			</li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>
				<a href="#"><i class="bzi-angle-right"></i></a>
			</li>
		</ol>
		<DocsCommand>
			<div>
				<OpenTag
					tag="ol"
					:attributes="[{ title: 'class', value: 'pagination--left' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-angle-left' }]"
				/><CloseTag tag="i" /><CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>1<CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>2<CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>3<CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>4<CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag tag="li" /><OpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-angle-right' }]"
				/><CloseTag tag="i" /><CloseTag tag="a" /><CloseTag tag="li" />
			</div>
			<div><CloseTag tag="ol" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsPaginationLeft',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>

<style></style>
