<template>
	<div>
		<DocsTitle content="Background Color" />
		<div>
			<p class="bg-primary">Background class color = ".bg-primary"</p>
			<p class="bg-secondary">Background class color = ".bg-secondary"</p>
			<p class="bg-warning">Background class color = ".bg-warning"</p>
			<p class="bg-danger">Background class color = ".bg-danger"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<p class="bg-white">Background class color = ".bg-white"</p>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in backgroundColorTags"
				:key="index"
				:tag="item.tag"
				:content="item.content"
				:attributes="item.attributes"
			/>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsColorsBackgroundColor',

	computed: {
		...mapState('data/colors', {
			backgroundColorTags: 'backgroundColorTags'
		})
	}
}
</script>
