<template>
	<div>
		<DocsTitle content="Black Tones" />
		<div>
			<div class="flex gap-6">
				<p class="text-black10">Black tone = ".text-black10" ($black10)</p>
				<div class="box bg-black10"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black20">Black tone = ".text-black20" ($black20)</p>
				<div class="box bg-black20"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black30">Black tone = ".text-black30" ($black30)</p>
				<div class="box bg-black30"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black40">Black tone = ".text-black40" ($black40)</p>
				<div class="box bg-black40"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black50">Black tone = ".text-black50" ($black50)</p>
				<div class="box bg-black50"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black60">Black tone = ".text-black60" ($black60)</p>
				<div class="box bg-black60"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black70">Black tone = ".text-black70" ($black70)</p>
				<div class="box bg-black70"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black80">Black tone = ".text-black80" ($black80)</p>
				<div class="box bg-black80"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black90">Black tone = ".text-black90" ($black90)</p>
				<div class="box bg-black90"></div>
			</div>
			<div class="flex gap-6">
				<p class="text-black">Black tone = ".text-black" ($black)</p>
				<div class="box bg-black"></div>
			</div>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in blackTonesTags"
				:key="index"
				:tag="item.tag"
				:content="item.content"
				:attributes="item.attributes"
			/>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsColorsBlackTones',

	computed: {
		...mapState('data/colors', {
			blackTonesTags: 'blackTonesTags'
		})
	}
}
</script>
