<template>
	<div>
		<DocsTitle content="Link Color" />
		<div>
			<p>
				Link color = <a class="link-primary" href="#">".link-primary"</a> (<a
					href="#"
					>Default link color</a
				>)
			</p>
			<p>
				Link color = <a class="link-secondary" href="#">".link-secondary"</a>
			</p>
			<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>
			<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
			<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
			<p>
				Link color = <a class="link-light-grey" href="#">".link-light-grey"</a>
			</p>
			<p>Link color = <a class="link-white" href="#">".link-white"</a></p>
		</div>
		<DocsCommand>
			<div>
				<DocsHTMLOpenTag tag="p" />Link color =
				<DocsHTMLOpenTag
					tag="a"
					:attributes="[
						{ title: 'class', value: 'link-primary' },
						{ title: 'href', value: '#' }
					]"
				/>".link-primary"<DocsHTMLCloseTag tag="a" /> (<DocsHTMLOpenTag
					tag="a"
					:attributes="[{ title: 'href', value: '#' }]"
				/>Default link color<DocsHTMLCloseTag tag="a" />)<DocsHTMLCloseTag
					tag="p"
				/>
			</div>
			<div v-for="(item, index) in linkColorList" :key="index">
				<DocsHTMLOpenTag tag="p" />Link color =
				<DocsHTMLOpenTag
					tag="a"
					:attributes="[
						{ title: 'class', value: item },
						{ title: 'href', value: '#' }
					]"
				/>".link-primary"<DocsHTMLCloseTag tag="a" /><DocsHTMLCloseTag
					tag="p"
				/>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsColorsLinkColor',

	computed: {
		...mapState('data/colors', {
			linkColorList: 'linkColorList'
		})
	}
}
</script>
