<template>
	<div>
		<DocsTitle content="Text Color" />
		<div>
			<p class="text-primary">Text class color = ".text-primary"</p>
			<p class="text-secondary">Text class color = ".text-secondary"</p>
			<p class="text-warning">Text class color = ".text-warning"</p>
			<p class="text-danger">Text class color = ".text-danger"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<p class="text-white">Text class color = ".text-white"</p>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in textColorTags"
				:key="index"
				:tag="item.tag"
				:content="item.content"
				:attributes="item.attributes"
			/>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsColorsTextColor',

	computed: {
		...mapState('data/colors', {
			textColorTags: 'textColorTags'
		})
	}
}
</script>
