<template>
	<div class="card--secondary">
		<div class="card--header f-20 f--bold">
			{{ $firstUpper(pokemon.name) }}
		</div>
		<div class="card--image text-center">
			<img :src="pokemon.sprites.front_default" :alt="pokemon.name" />
		</div>
		<div class="card--footer full-height">
			<div class="mb-4">Types:</div>
			<span
				v-for="(type, index) in pokemon.types"
				:key="index"
				class="badge--secondary mb-8"
			>
				{{ $firstUpper(type.type.name) }}
			</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DocsPokeItem',

	props: {
		pokemon: {
			type: Object,
			required: true
		}
	}
}
</script>
