<template>
	<div class="card-group-grid">
		<DocsPokeItem
			v-for="(pokemon, index) in pokemons"
			:key="index"
			:pokemon="pokemon"
		/>
	</div>
</template>

<script>
export default {
	name: 'DocsPokeList',

	props: {
		pokemons: {
			type: Array,
			required: true
		}
	}
}
</script>
