<template>
	<footer
		class="home__info flex flex--wrap v-center h-center f-14 text-center text-light text-white"
	>
		<div>Version 2.20.0</div>
		<div class="mh-12">|</div>
		<div>
			Powered by:
			<a href="https://suitmedia.com" target="_blank" class="text-white"
				>Suitmedia.com</a
			>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'HomeFooter'
}
</script>

<style lang="scss" scoped>
footer {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;

	& a:hover {
		color: $secondary-light-grey;
	}
}
</style>
