<template>
	<header class="flex gap-16 ph-48 pv-20">
		<img
			src="~/assets/img/logo-white.png"
			alt="Suit Baze Logo"
			height="35"
			width="35"
		/>
		<div class="f-24 f--semi text-fira">Baze UI</div>
	</header>
</template>

<script>
export default {
	name: 'HomeHeader'
}
</script>

<style lang="scss" scoped>
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
</style>
