<template>
	<DocsItem>
		<DocsSubTitle content="Right Align" />
		<p class="text-right">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
			velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
			cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
			est laborum.
		</p>
		<DocsCommand>
			<div>
				<DocsHTMLOpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'text-right' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
				ut aliquip ex ea commodo consequat. Duis aute irure dolor in
				reprehenderit
			</div>
			<div>
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
				officia deserunt
			</div>
			<div>mollit anim id est laborum<DocsHTMLCloseTag tag="p" /></div>
		</DocsCommand>
	</DocsItem>
</template>

<script>
export default {
	name: 'DocsTextRight'
}
</script>
