.alert {
  padding: 8px 16px;
  margin-bottom: 15px;
  background-color: $fourth-grey;
  color: $dark-grey;
  border: 1px solid $dark-grey;
}

@mixin generateAlertStyle($color, $shade: dark) {
  @extend .alert;
  @if $shade == light {
    background-color: $color;
    color: darken($color, 20%);
    border-color: darken($color, 20%);
  } @else {
    background-color: lighten($color, 30%);
    color: $color;
    border-color: $color;
  }
}

@each $state, $color in $palettes {
  .alert--#{$state} {
    @include generateAlertStyle($color, dark);
  }
}

@each $state, $color in $light-palettes {
  .alert--#{$state} {
    @include generateAlertStyle($color, light);
  }
}

.alert--popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  background-color: rgba(0, 0, 0, 0.4);

  &.active {
    display: block;
  }
}

.alert--popup-content {
  position: relative;
  width: 80%;
  margin: auto;
}

.alert--close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
}
