@mixin generateBadgeStyle($color, $shade: dark) {
  background-color: $color;
  padding: 1px 8px;
  display: inline-block;
  margin-right: 8px;

  @if ($shade == dark) {
    color: $white;
  } @else {
    color: $black80;
  }
}

@each $state, $color in $palettes {
  .badge--#{$state} {
    @include generateBadgeStyle($color);
  }
}

@each $state, $color in $light-palettes {
  .badge--#{$state} {
    @include generateBadgeStyle($color, light);
  }
}
