.btn {
    display: inline-block;
    padding: 9px 24px 7px;
    border: none;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-weight: normal; // changed 

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    @media #{$medium} {
        // padding: 8px 24px;
    }

    // commented
    // .btn-icon {
    //     height: 22px;
    //     vertical-align: middle;
    //     display: inline-block;
    //     transform: translateY(-2px);
    // }
}


@mixin btnStyle($bg, $color: #fff, $shade: dark) {
    @extend .btn;
    color: $color;
    background-color: $bg;
    border: 1px solid darken($bg, 10%); // added
    // border-radius: 4px; // commented

    &:hover {
        color: $color;
        box-shadow: inset 0 0 2px $bg;
        @if $shade == dark {
            background: lighten($bg, 10%);
        } @else if $shade == light {
            background: darken($bg, 9%);
        }
    }

    &[disabled],
    &.disabled {
        opacity: .6;
    }
}

@mixin btnGhost($bg, $color: #fff, $shade: dark) {
    @extend .btn;
    color: $bg;
    background: transparent;
    // border-radius: 4px; // commented
    border-style: solid;
    border-width: 1px;
    border-color: $bg; // added

    &.btn--small {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    // edited
    @if $shade == light {
        color: darken($bg, 10%); // added
        border-color: darken($bg, 10%);
    }

    &:hover {
        color: $color; // edited
        text-shadow: 0 1px 2px darken($bg, 15%);
        background: $bg;
    }

    &[disabled],
    &.disabled {
        opacity: .6;
    }
}

// new
@mixin btnFlat($color, $shade: dark) {
    @extend .btn;
    background: transparent;

    &.btn--small {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    @if $shade == dark {
        color: $color;
    } @else if $shade == light {
        color: darken($color, 10%);
    }

    &:hover {
        background: $secondary-grey;
        
        @if $color == $white {
            color: #fff;
        }
    }
}

.btn--block {
    min-width: 100%; // edited from width
    // padding-left: 8px !important; // commented
    // padding-right: 8px !important; // commented
}

@mixin btnIcon($type) {
    @if $type == small {
        width: 34px;
        height: 34px;
    } @else if $type == large {
        width: 54px;
        height: 54px;
    }
}

.btn--small {
    padding: 3px 8px;
    font-size: 15px;

    &.btn--icon {
        @include btnIcon(small);
    }
}

// new
.btn--large {
    font-size: 20px;

    &.btn--icon {
        @include btnIcon(large)
    }
}

@each $state, $color in $palettes {
    .btn--#{$state} {
        @include btnStyle($color);
    }

    .btn--ghost-#{$state} {
        @include btnGhost($color);
    }

    // new
    .btn--flat-#{$state} {
        @include btnFlat($color);
    }
}

@each $state, $color in $light-palettes {
    .btn--#{$state} {
        @include btnStyle($color, $black80, light);
    }

    .btn--ghost-#{$state} {
        @include btnGhost($color, $black80, light);
    }

    // new
    .btn--flat-#{$state} {
        @include btnFlat($color, light);
    }
}

.btn--transparent {
    @include btnGhost($primary);
    border-color: transparent;
}

.btn--pils {
    border-radius: 22px;
}

.btn--circle {
    width: 42px;
    height: 42px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid $primary;
    background-color: $primary;
    color: #fff;

    &:hover {
        background-color: lighten($primary, 8%);
    }
    &:focus {
        outline: none;
    }
}

.btn--circle-ghost {
    border: 1px solid $black20;
    background-color: transparent;
    color: $black40;

    &:hover {
        background-color: lighten($primary, 8%);
        color: #fff;
        border-color: $primary;
    }
}

.btn--dashed {
    @include btnGhost($dark-grey);
    border-style: dashed;
}

.btn--outline {
    @include btnGhost($dark-grey);
}

// new
.btn--fira {
    font-family: $font_firamono;
}

.btn--icon {
    width: 44px;
    height: 44px;
    padding: 0;
    font-size: 16px;
}
