.progress-bar {
  position: relative;
  overflow: hidden;
  background: rgba(lighten($primary, 40%), 0.3);
  border-radius: 4px;

  .bar {
    display: block;
    height: 4px;
    background: $primary;
    border-radius: 4px;

    @media #{$medium} {
      height: 8px;
    }
  }
}

.hash-container {
  background-color: rgba(lighten($primary, 40%), 0.2);
  padding: 14px 16px;
}

.card-group {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;

  @media #{$medium} {
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  border: 1px solid black;
  font-size: 15px;

  .card--header {
    padding: 8px 16px;
    border-bottom: 1px solid black;
  }

  .card--image {
    width: 100%;
  }

  .card--body {
    padding: 8px 16px;
    margin-bottom: auto;
  }
  
  .card--footer {
    padding: 8px 16px;
    border-top: 1px solid black;
    background-color: $light-grey;

    &.full-height {
      height: 100%;
    }
  }
}

@mixin generateCardStyle($color, $shade: dark) {
  @extend .card;
  background-color: $color;
  border-color: darken($color, 40%);
  
  @if $shade == dark {
    color: white;
  } @else {
    color: black;
  }

  .card--header {
    background-color: darken($color, 15%);
    border-bottom-color: darken($color, 40%);
  }

  .card--footer {
    background-color: darken($color, 15%);
    border-top-color: darken($color, 40%);
  }
}

@each $state, $color in $palettes {
  .card--#{$state} {
    @include generateCardStyle($color);
  }
}

@each $state, $color in $light-palettes {
  .card--#{$state} {
    @include generateCardStyle($color, light);
  }
}

.card-group-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;

  @media #{$small} {
    grid-template-columns: repeat(2, auto);
  }

  @media #{$medium} {
    grid-template-columns: repeat(3, auto);
  }

  @media #{$large} {
    grid-template-columns: repeat(4, auto);
  }
}
