.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-spacer {
    > * {
        margin-right: 10px;
    }
}

.flex--m {
    @media #{$medium} {
        display: flex;
    }
}

.flex-responsive {
    flex-direction: column;

    @media #{$large} {
        flex-direction: row;
    }
}

.flex--wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.fg-1 {
    flex-grow: 1;
}

.fs-0 {
    flex-shrink: 0;
}

.v-start {
    align-items: flex-start;
}

.v-end {
    align-items: flex-end;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.h-end {
    justify-content: flex-end;
}

.v-center--spread,
.f-space-between {
    justify-content: space-between;
}

// new
$gaps: 0, 2, 4, 6, 8, 12, 14, 16, 18, 20, 22, 24, 32, 36, 48, 64;
@each $gap in $gaps {
    .gap-#{$gap} {
        gap: $gap * 1px !important;
    }
}

// new
.flex-column {
    flex-direction: column;
}
