@font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/opensans-light-webfont.woff2') format('woff2'),
        url('~assets/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('~assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('~assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('~assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
      font-family: 'Open Sans';
      src: url('~assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
          url('~assets/fonts/opensans-extrabold-webfont.woff') format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }

  // new
  @font-face {
    font-family: 'Fira Mono';
    src: url('~assets/fonts/firamono-regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  // new
  @font-face {
    font-family: 'Fira Mono';
    src: url('~assets/fonts/firamono-bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  // new
  @font-face {
    font-family: 'Consolas';
    src: url('~assets/fonts/consolas.ttf');
    font-weight: normal;
    font-style: normal;
  }