.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    user-select: none;

    li {
        margin: 0 2px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: solid 1px #ddd;
            color: currentcolor;
            background: #eee;

            &.disabled {
                opacity: 0.6;
                cursor: default;
                pointer-events: none;
            }

            &:hover {
                background-color: #ddd;
            }

            &.is-active {
                background: #ddd;
                font-weight: bold;
                cursor: default;
                pointer-events: none;
            }
        }
    }
}

.pagination--left {
    @extend .pagination;
    justify-content: start;
}

.pagination--right {
    @extend .pagination;
    justify-content: end;
}
