<template>
	<div>
		<DocsTitle content="Flex Card" />
		<div>
			<div class="card-group">
				<div class="card--primary mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--secondary mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
				<div class="card--light-grey mb-12">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
				</div>
				<div class="card mb-12">
					<img class="card--image" src="~/assets/img/logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
							rerum nihil laboriosam, architecto sequi dolor doloribus impedit
							totam voluptatibus earum vel exercitationem quas commodi. Quidem,
							fugit corrupti beatae accusantium!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card-group' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--primary mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--header' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Header</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'class', value: 'card--image' },
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--body' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="h5" />Card<CloseTag tag="h5" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
				quia consectetur quibusdam repudiandae!<CloseTag tag="p" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--footer' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Footer</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--secondary mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--header' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Header</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'class', value: 'card--image' },
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--body' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="h5" />Card<CloseTag tag="h5" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
				eiusmod
			</div>
			<div>
				<Spacer :spacer="12" />
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam,
			</div>
			<div>
				<Spacer :spacer="12" />
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
			<div>
				<Spacer :spacer="12" />
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				esse
			</div>
			<div>
				<Spacer :spacer="12" />
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non
			</div>
			<div>
				<Spacer :spacer="12" /> proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.<CloseTag tag="p" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--footer' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Footer</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--light-grey mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--header' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Header</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'class', value: 'card--image' },
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--body' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="h5" />Card<CloseTag tag="h5" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
				rerum nihil laboriosam,
			</div>
			<div>
				<Spacer :spacer="12" /> architecto sequi dolor doloribus impedit totam
				voluptatibus earum vel exercitationem quas commodi. Quidem, fugit
				corrupti beatae accusantium!<CloseTag tag="p" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'class', value: 'card--image' },
						{ title: 'src', value: '...' },
						{ title: 'alt', value: '' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--body' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="h5" />Card<CloseTag tag="h5" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam
				rerum nihil laboriosam,
			</div>
			<div>
				<Spacer :spacer="12" /> architecto sequi dolor doloribus impedit totam
				voluptatibus earum vel exercitationem quas commodi. Quidem, fugit
				corrupti beatae accusantium!<CloseTag tag="p" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'card--footer' }]"
				/>
			</div>
			<div><Spacer :spacer="12" />Card Footer</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<div><CloseTag tag="div" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import CloseTag from '../HTML/CloseTag.vue'
import OpenTag from '../HTML/OpenTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsCardFlex',

	components: {
		CloseTag,
		OpenTag,
		Spacer
	}
}
</script>
