<template>
	<div>
		<DocsTitle content="Baze Grid Card" />
		<div class="bzg">
			<div
				v-for="(data, index) in gridCardData"
				:key="index"
				class="bzg_c mb-24"
				data-col="s12,m6,l3"
			>
				<div class="card--primary">
					<div class="card--header">Header title</div>
					<a href="#"
						><img class="card--image" :src="data.image" :alt="data.user"
					/></a>
					<div class="card--body">
						<h5>{{ data.user }}</h5>
						<p class="text-right">{{ data.date }}</p>
						<p class="mb-0">
							{{ data.text }}
						</p>
					</div>
					<div class="card--footer">Footer title</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg bzg--flex card-group js-card' },
						{ title: 'data-card', value: 'dev/data/data.json' }
					]"
				/>
			</div>
			<!-- item -->
			<div v-for="(item, index) in gridCardData" :key="index">
				<div>
					<Spacer :spacer="4" /><OpenTag
						tag="div"
						:attributes="[
							{ title: 'class', value: 'bzg_c mb-24' },
							{ title: 'id', value: '...' },
							{ title: 'data-col', value: 's12,m6,l3' }
						]"
					/>
				</div>
				<div>
					<Spacer :spacer="8" /><OpenTag
						tag="div"
						:attributes="[{ title: 'class', value: 'card--primary' }]"
					/>
				</div>
				<div>
					<Spacer :spacer="12" /><OpenTag
						tag="div"
						:attributes="[{ title: 'class', value: 'card--header' }]"
					/>
				</div>
				<div><Spacer :spacer="16" />Header title</div>
				<div><Spacer :spacer="12" /><CloseTag tag="div" /></div>
				<div>
					<Spacer :spacer="12" /><OpenTag
						tag="a"
						:attributes="[{ title: 'href', value: '#' }]"
					/><OpenTag
						tag="img"
						:attributes="[
							{ title: 'class', value: 'card--image' },
							{ title: 'src', value: '...' },
							{ title: 'alt', value: '' }
						]"
					/><CloseTag tag="a" />
				</div>
				<div>
					<Spacer :spacer="12" /><OpenTag
						tag="div"
						:attributes="[{ title: 'class', value: 'card--body' }]"
					/>
				</div>
				<div>
					<Spacer :spacer="16" /><OpenTag tag="h5" />{{ item.user
					}}<CloseTag tag="h5" />
				</div>
				<div>
					<Spacer :spacer="16" /><OpenTag
						tag="p"
						:attributes="[{ title: 'class', value: 'text-right' }]"
					/>{{ item.date }}<CloseTag tag="p" />
				</div>
				<div>
					<Spacer :spacer="16" /><OpenTag
						tag="p"
						:attributes="[{ title: 'class', value: 'mb-0' }]"
					/>{{ item.text }}<CloseTag tag="p" />
				</div>
				<div><Spacer :spacer="12" /><CloseTag tag="div" /></div>
				<div>
					<Spacer :spacer="12" /><OpenTag
						tag="div"
						:attributes="[{ title: 'class', value: 'card--footer' }]"
					/>
				</div>
				<div><Spacer :spacer="16" />Footer title</div>
				<div><Spacer :spacer="12" /><CloseTag tag="div" /></div>
				<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
				<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			</div>
			<!-- end item -->
			<div><CloseTag tag="div" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsCardGrid',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	computed: {
		...mapState('data/card', {
			gridCardData: 'gridCardData'
		})
	}
}
</script>
