<template>
	<div>
		<DocsTitle content="Justified Tabs" />
		<div class="mb-20">
			<ul class="tabs__bar--justify">
				<li
					v-for="(tab, index) in tabs"
					:key="index"
					class="tabs__nav cursor-pointer"
					:class="{ 'is-active': currentTab === tab.tab }"
					@click="currentTab = tab.tab"
				>
					{{ tab.tab }}
				</li>
			</ul>
			<div class="tabs__content">
				<div
					v-for="(tab, index) in tabs"
					:key="index"
					class="tabs__item"
					:class="{ 'is-active': currentTab === tab.tab }"
				>
					{{ tab.content }}
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="ul"
					:attributes="[
						{ title: 'class', value: 'tabs__bar--justify js-tabs' }
					]"
				/>
			</div>
			<div v-for="i in 4" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="li"
					:attributes="[
						{
							title: 'class',
							value: `tabs__nav js-tabs-link${i === 1 ? ' is-active' : ''}`
						},
						{ title: 'data-control', value: `#justified${i}` }
					]"
				/>TAB {{ i }}<CloseTag tag="li" />
			</div>
			<div><CloseTag tag="ul" /></div>
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'tabs__content' }]"
				/>
			</div>
			<div v-for="i in 4" :key="i">
				<div>
					<Spacer :spacer="4" /><OpenTag
						tag="div"
						:attributes="[
							{
								title: 'class',
								value: `tabs__item js-tabs-item${i === 1 ? ' is-active' : ''}`
							},
							{ title: 'id', value: `justified${i}` }
						]"
					/>
				</div>
				<div><Spacer :spacer="8" />Item {{ i }}</div>
				<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			</div>
			<div><CloseTag tag="div" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsTabsJustified',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			currentTab: 'TAB 1',
			tabs: [
				{
					tab: 'TAB 1',
					content: 'Item 1'
				},
				{
					tab: 'TAB 2',
					content: 'Item 2'
				},
				{
					tab: 'TAB 3',
					content: 'Item 3'
				},
				{
					tab: 'TAB 4',
					content: 'Item 4'
				}
			]
		}
	}
}
</script>
