<template>
	<div>
		<DocsTitle content="Lazy Loading (Using nuxt-image)" />
		<div class="mb-20 bzg">
			<div v-for="i in 12" :key="i" class="bzg_c mb-20" data-col="m3">
				<nuxt-img
					src="/assets/img/kakashi.jpg"
					placeholder="/assets/img/placeholder.png"
					fit="cover"
					loading="lazy"
				/>
			</div>
		</div>
		<DocsCommand>
			<div>
				<span class="html-tag">&lt;nuxt-img src=</span
				><span class="html-att-value">"/assets/img/kakashi.jpg"</span>
			</div>
			<div>
				<Spacer :spacer="10" /><span class="html-tag">placeholder=</span
				><span class="html-att-value">/assets/img/placeholder.png"</span>
			</div>
			<div>
				<Spacer :spacer="10" /><span class="html-tag">fit=</span
				><span class="html-att-value">"cover"</span>
			</div>
			<div>
				<Spacer :spacer="10" /><span class="html-tag">loading=</span
				><span class="html-att-value">"lazy"</span
				><span class="html-tag">&gt;</span>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsImageLazyLoading',

	components: {
		Spacer
	}
}
</script>
