<template>
	<div>
		<DocsTitle content="Responsive Image (Picture tag)" />
		<div class="mb-20">
			<picture>
				<source
					media="(min-width: 64em)"
					srcset="~/assets/img/koala-1200x754.jpg"
				/>
				<source
					media="(min-width: 28em)"
					srcset="~/assets/img/koala-600x377.jpg"
				/>
				<img src="~/assets/img/koala-290x290.jpg" alt="Mother and baby koala" />
			</picture>
		</div>
		<DocsCommand>
			<div><OpenTag tag="picture" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="source"
					:attributes="[
						{ title: 'media', value: '(min-width: 64em)' },
						{ title: 'srcset', value: 'assets/img/koala-1200x754.jpg' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="source"
					:attributes="[
						{ title: 'media', value: '(min-width: 28em)' },
						{ title: 'srcset', value: 'assets/img/koala-600x377.jpg' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="img"
					:attributes="[
						{ title: 'src', value: 'assets/img/koala-290x290.jpg' },
						{ title: 'alt', value: 'Mother and baby koala' }
					]"
				/>
			</div>
			<div><CloseTag tag="picture" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsImagePicture',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>

<style lang="scss" scoped>
picture,
img {
	width: 100%;
	object-fit: cover;
}
</style>
