<template>
	<div>
		<DocsTitle content="Responsive Image (Resolution Switch)" />
		<div class="mb-20">
			<img
				srcset="
					~/assets/img/koala-100x100.jpg    100w,
					~/assets/img/koala-500x500.jpg    500w,
					~/assets/img/koala-1010x1010.jpg 1010w
				"
				sizes="(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"
				src="~/assets/img/koala-100x100.jpg"
				alt="Koala Doll"
			/>
		</div>
		<DocsCommand>
			<div>
				<span class="html-tag">&lt;img srcset=</span
				><span class="html-att-value">assets/img/koala-100x100.jpg 100w,</span>
			</div>
			<div>
				<Spacer :spacer="13" /><span class="html-att-value"
					>assets/img/koala-500x500.jpg 500w,</span
				>
			</div>
			<div>
				<Spacer :spacer="13" /><span class="html-att-value"
					>assets/img/koala-500x500.jpg 500w,</span
				>
			</div>
			<div>
				<Spacer :spacer="5" /><span class="html-tag">sizes=</span
				><span class="html-att-value">"(max-width: 28em) 100px,</span>
			</div>
			<div>
				<Spacer :spacer="12" /><span class="html-att-value"
					>(max-width: 75em) 500px,</span
				>
			</div>
			<div>
				<Spacer :spacer="12" /><span class="html-att-value">1010px"</span>
			</div>
			<div>
				<Spacer :spacer="5" /><span class="html-tag">sizes=</span
				><span class="html-att-value">"assets/img/koala-100x100.jpg"</span>
				<span class="html-tag">alt=</span
				><span class="html-att-value">"Koala Doll"</span
				><span class="html-tag">&gt;</span>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsImageResolution',

	components: {
		Spacer
	}
}
</script>
