<template>
	<div class="mb-20">
		<DocsTitle content="Bz Icon Documentation" />
		<p>
			Untuk informasi lebih lanjut mengenai Bzi Icon silakan kunjungi link
			berikut:
		</p>
		<DocsLinks
			:links="[
				{
					title: 'Daftar Icon',
					link: 'https://icomoon.io/app/#/select',
					icon: 'bzi-attachment bzi-lg'
				},
				{
					title: 'Dokumentasi',
					link: 'https://icomoon.io/app/#/select',
					icon: 'bzi-mail bzi-lg'
				}
			]"
		/>
	</div>
</template>

<script>
export default {
	name: 'DocsBzIconDocumentation'
}
</script>
