<template>
	<div>
		<DocsTitle content="Bzi-Icon" />
		<DocsItem>
			<DocsSubTitle content="Icon Example" />
			<div class="mb-20 flex v-center gap-20">
				<div class="bzi-briefcase bzi-lg"></div>
				<div class="bzi-globe bzi-lg"></div>
				<div class="bzi-notification bzi-lg"></div>
			</div>
			<DocsCommand>
				<Element
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-briefcase' }]"
				/>
				<Element
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-globe' }]"
				/>
				<Element
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-notification' }]"
				/>
			</DocsCommand>
		</DocsItem>
	</div>
</template>

<script>
import Element from '../HTML/Element.vue'

export default {
	name: 'DocsBzIcon',

	components: {
		Element
	}
}
</script>
