<template>
	<div>
		<DocsTitle content="Icon Sizing" />
		<DocsItem class="flex v-center flex--wrap gap-20 mb-20">
			<div class="bzi-home bzi-xs"></div>
			<div class="bzi-home bzi-sm"></div>
			<div class="bzi-home bzi-lg"></div>
			<div v-for="i in 10" :key="i" class="bzi-home" :class="`bzi-${i}x`"></div>
		</DocsItem>
		<DocsCommand>
			<div><OpenTag tag="p" /></div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-home bzi-xs' }]"
				/><CloseTag tag="i" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-home bzi-sm' }]"
				/><CloseTag tag="i" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-home' }]"
				/><CloseTag tag="i" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-home bzi-lg' }]"
				/><CloseTag tag="i" />
			</div>
			<div v-for="i in 10" :key="i">
				<div v-if="i !== 1">
					<Spacer :spacer="4" /><OpenTag
						tag="i"
						:attributes="[{ title: 'class', value: `bzi-home bzi-${i}x` }]"
					/><CloseTag tag="i" />
				</div>
			</div>
			<div><CloseTag tag="p" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsBzIconSizing',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
