<template>
	<div>
		<DocsTitle content="Default Grid" />
		<div class="mb-20">
			<div class="bzg">
				<div v-for="i in 4" :key="i" class="bzg_c" data-col="m3">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m3
					</div>
				</div>
			</div>
			<div class="bzg">
				<div v-for="i in 3" :key="i" class="bzg_c" data-col="m4">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m4
					</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<OpenTag tag="div" :attributes="[{ title: 'class', value: 'bzg' }]" />
			</div>
			<div v-for="i in 4" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm3' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m3<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<CloseTag tag="div" />
			</div>
			<div>
				<OpenTag tag="div" :attributes="[{ title: 'class', value: 'bzg' }]" />
			</div>
			<div v-for="i in 3" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm4' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m4<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<CloseTag tag="div" />
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsGridDefault',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
