<template>
	<div>
		<DocsTitle content="No Gutter Grid" />
		<div class="mb-20">
			<div class="bzg bzg--no-gutter">
				<div v-for="i in 12" :key="i" class="bzg_c" data-col="m1">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m1
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div v-for="i in 6" :key="i" class="bzg_c" data-col="m2">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m2
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div v-for="i in 4" :key="i" class="bzg_c" data-col="m3">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m3
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div v-for="i in 3" :key="i" class="bzg_c" data-col="m4">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m4
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div v-for="i in 2" :key="i" class="bzg_c" data-col="m6">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m6
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m7">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m7
					</div>
				</div>
				<div class="bzg_c" data-col="m5">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m5
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m12">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m12
					</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div v-for="i in 12" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm1' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m1<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div v-for="i in 6" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm2' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m2<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div v-for="i in 4" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm3' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m3<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div v-for="i in 3" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm4' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m4<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div v-for="i in 2" :key="i">
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm6' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m6<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm7' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m7<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm5' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m5<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm12' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m7<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsGridNoGutter',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
