<template>
	<div>
		<DocsTitle content="Responsive Grid" />
		<div class="mb-20">
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="s12,m9,l6">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c s12,m9,l6
					</div>
				</div>
				<div class="bzg_c" data-col="s6,m3,l6">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c s6,m3,l6
					</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m9,l6' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c s12,m9,l6<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's6,m3,l6' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c s6,m3,l6<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsGridResponsive',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
