<template>
	<div>
		<DocsTitle content="Grid with Offset" />
		<div class="mb-20">
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m2">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m2
					</div>
				</div>
				<div class="bzg_c" data-col="m5" data-offset="m5">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m5 offset=m5
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m3" data-offset="m3">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m3 offset=m3
					</div>
				</div>
				<div class="bzg_c" data-col="m3" data-offset="m3">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m3 offset=m3
					</div>
				</div>
			</div>
			<div class="bzg bzg--no-gutter">
				<div class="bzg_c" data-col="m6" data-offset="m3">
					<div
						class="text-center bg-primary text-white"
						style="border: 1px solid white"
					>
						bzg_c m6 offset=m3
					</div>
				</div>
			</div>
		</div>
		<DocsCommand>
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm2' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m2<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm5' },
						{ title: 'data-offset', value: 'm5' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m5 offset=m5<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm3' },
						{ title: 'data-offset', value: 'm3' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m3 offset=m3<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm3' },
						{ title: 'data-offset', value: 'm3' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m3 offset=m3<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
			<!-- block -->
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg bzg--no-gutter' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 'm6' },
						{ title: 'data-offset', value: 'm3' }
					]"
				/><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'text-center bg-primary text-white' }
					]"
				/>bzg_c m6 offset=m3<CloseTag tag="div" /><CloseTag tag="div" />
			</div>
			<div><CloseTag tag="div" /></div>
			<!-- end block -->
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsGridWithOffset',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
