<template>
	<DocsItem>
		<DocsSubTitle content="Inline List" />
		<ol class="list-inline">
			<li>Lorem ></li>
			<li>Ipsum ></li>
			<li>Dolor</li>
		</ol>
		<DocsCommand>
			<div>
				<DocsHTMLOpenTag
					tag="ol"
					:attributes="[{ title: 'class', value: 'list-inline' }]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Lorem > <DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Ipsum > <DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Dolor<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLCloseTag tag="ol" />
			</div>
		</DocsCommand>
	</DocsItem>
</template>

<script>
export default {
	name: 'DocsListsInlineList'
}
</script>
