<template>
	<DocsItem>
		<DocsSubTitle content="Ordered List" />
		<ol class="text-dark-grey">
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li>
				Incidunt magni consequatur adipisci officiis vero placeat consectetur
			</li>
			<li>
				id facere,
				<ol type="a">
					<li>molestiae in,</li>
					<li>ducimus necessitatibus hic ad esse consequuntur</li>
				</ol>
			</li>
			<li>dignissimos sequi illum doloremque.</li>
		</ol>
		<DocsCommand>
			<div>
				<DocsHTMLOpenTag tag="ol" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Lorem ipsum dolor sit amet, consectetur
				adipisicing elit.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Incidunt magni consequatur adipisci officiis
				vero placeat consectetur.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />id facere,
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				<DocsHTMLOpenTag
					tag="ol"
					:attributes="[{ title: 'type', value: 'a' }]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="12" />
				<DocsHTMLOpenTag tag="li" />molestiae in,<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="12" />
				<DocsHTMLOpenTag tag="li" />ducimus necessitatibus hic ad esse
				consequuntur,<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				<DocsHTMLCloseTag tag="ol" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />dignissimos sequi illum
				doloremque.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLCloseTag tag="ol" />
			</div>
		</DocsCommand>
	</DocsItem>
</template>

<script>
export default {
	name: 'DocsListsOrderedList'
}
</script>
