<template>
	<DocsItem>
		<DocsSubTitle content="Unordered List" />
		<ul class="text-dark-grey">
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li>
				Incidunt magni consequatur adipisci officiis vero placeat consectetur
			</li>
			<li>
				id facere,
				<ul>
					<li>molestiae in,</li>
					<li>ducimus necessitatibus hic ad esse consequuntur</li>
				</ul>
			</li>
			<li>dignissimos sequi illum doloremque.</li>
		</ul>
		<DocsCommand>
			<div>
				<DocsHTMLOpenTag tag="ul" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Lorem ipsum dolor sit amet, consectetur
				adipisicing elit.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />Incidunt magni consequatur adipisci officiis
				vero placeat consectetur.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />id facere,
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				<DocsHTMLOpenTag tag="ul" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="12" />
				<DocsHTMLOpenTag tag="li" />molestiae in,<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="12" />
				<DocsHTMLOpenTag tag="li" />ducimus necessitatibus hic ad esse
				consequuntur,<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				<DocsHTMLCloseTag tag="ul" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLOpenTag tag="li" />dignissimos sequi illum
				doloremque.<DocsHTMLCloseTag tag="li" />
			</div>
			<div>
				<DocsHTMLCloseTag tag="ul" />
			</div>
		</DocsCommand>
	</DocsItem>
</template>

<script>
export default {
	name: 'DocsListsUnorderedList'
}
</script>
