<template>
	<div id="documentation">
		<DocsNavbar />
		<DocsSidebar />
		<div class="documentation__wrapper pt-120 ph-22">
			<div class="documentation__wrapper__inner">
				<nuxt />
				<DocsFooter />
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DocsLayout'
}
</script>

<style lang="scss" scoped>
.documentation__wrapper {
	@media #{$medium} {
		margin-left: 230px;
	}

	.documentation__wrapper__inner {
		max-width: 970px;
		margin: 0 auto;
	}
}
</style>
