<template>
	<div>
		<div v-if="statusCode === 404">
			<DocsTitle content="404 - Resources Not Available!" />
		</div>
		<div v-else>
			<DocsTitle content="500 - Server Error, Try Again Later!" />
			<img src="~/assets/img/500.png" />
		</div>
	</div>
</template>

<script>
export default {
	name: 'ErrorLayout',

	layout: 'documentation',

	props: {
		error: {
			type: Object,
			default: null
		}
	},

	computed: {
		statusCode() {
			return (this.error && this.error.statusCode) || 500
		},
		message() {
			return this.error.message
		}
	}
}
</script>
