<template>
	<div id="home">
		<HomeHeader />
		<div class="home__wrapper flex v-center h-center text-center">
			<nuxt />
		</div>
		<HomeFooter />
	</div>
</template>

<script>
export default {
	name: 'HomeLayout'
}
</script>

<style scoped lang="scss">
#home {
	background: #555555;
	color: #fff;

	.home__wrapper {
		height: 100vh;
	}
}
</style>
