<template>
	<div>
		<DocsTitle content="Alert Box" />
		<div class="mb-16">
			<button class="btn--primary" @click="showAlert1 = true">Alert 1</button>
			<button class="btn--primary" @click="showAlert2 = true">Alert 2</button>

			<div
				class="alert--popup"
				:class="{ active: showAlert1 }"
				@click="showAlert1 = false"
			>
				<div
					class="alert--primary alert--popup-content"
					@click="e => e.stopPropagation()"
				>
					<span class="alert--close" @click="showAlert1 = false"
						><i class="bzi-close"></i
					></span>
					<h4>Lorem Ipsum!</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<hr />
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
						obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate
						molestiae in quia quos quam tempora sequi illo molestias? Rerum,
						sit?
					</p>
				</div>
			</div>

			<div
				class="alert--popup"
				:class="{ active: showAlert2 }"
				@click="showAlert2 = false"
			>
				<div
					class="alert--danger alert--popup-content"
					@click="e => e.stopPropagation()"
				>
					<span class="alert--close" @click="showAlert1 = false"
						><i class="bzi-close"></i
					></span>
					<h4>Number 2</h4>
					<p>Test Number 2</p>
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<DocsHTMLElement
					v-for="(item, index) in buttonsData"
					:key="index"
					:tag="item.tag"
					:content="item.content"
					:attributes="item.attributes"
				/>
			</div>
			<br />
			<div>
				<DocsHTMLOpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'alert--popup' },
						{ title: 'id', value: 'alert1' }
					]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" /><DocsHTMLOpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'alert--primary alert--popup-content' }
					]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag
					tag="span"
					:attributes="[
						{ title: 'class', value: 'alert--close js-alert-close' }
					]"
				/><DocsHTMLOpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-close' }]"
				/><DocsHTMLCloseTag tag="i" /><DocsHTMLCloseTag tag="span" />
				<DocsHTMLOpenTag tag="h4" />Lorem Ipsum!<DocsHTMLCloseTag tag="h4" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag tag="p" />Lorem ipsum
				dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam,
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit
				esse
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.<DocsHTMLCloseTag tag="p" />
			</div>
			<div><DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag tag="hr" /></div>
			<div>
				<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag
					tag="p"
					:attributes="[{ title: 'class', value: 'mb-0' }]"
				/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
				obcaecati tempora.
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" />
				Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos
				quam tempora sequi illo molestias? Rerum, sit?<DocsHTMLCloseTag
					tag="p"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLCloseTag tag="div" />
			</div>
			<div><DocsHTMLCloseTag tag="div" /></div>
			<br />
			<div>
				<DocsHTMLOpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'alert--popup' },
						{ title: 'id', value: 'alert2' }
					]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" /><DocsHTMLOpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'alert--danger alert--popup-content' }
					]"
				/>
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag
					tag="span"
					:attributes="[
						{ title: 'class', value: 'alert--close js-alert-close' }
					]"
				/><DocsHTMLOpenTag
					tag="i"
					:attributes="[{ title: 'class', value: 'bzi-close' }]"
				/><DocsHTMLCloseTag tag="i" /><DocsHTMLCloseTag tag="span" />
				<DocsHTMLOpenTag tag="h4" />Number 2<DocsHTMLCloseTag tag="h4" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag tag="p" />Test Number
				2<DocsHTMLCloseTag tag="p" />
			</div>
			<div>
				<DocsHTMLSpacer :spacer="4" />
				<DocsHTMLCloseTag tag="div" />
			</div>
			<div><DocsHTMLCloseTag tag="div" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsAlertBox',

	data() {
		return {
			showAlert1: false,
			showAlert2: false
		}
	},

	computed: {
		...mapState('data/alert', {
			buttonsData: 'buttonsData'
		})
	}
}
</script>
