<template>
	<div>
		<DocsTitle content="Alert" />
		<div>
			<div class="alert">Alert default</div>
			<div class="alert--primary">Alert primary</div>
			<div class="alert--secondary">Alert secondary</div>
			<div class="alert--warning">Alert warning</div>
			<div class="alert--danger">Alert danger</div>
			<div class="alert--black">Alert black</div>
			<div class="alert--light-grey">Alert light-grey</div>
			<div class="alert--white">Alert white</div>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in alertsData"
				:key="index"
				tag="div"
				:attributes="[{ title: 'class', value: item.class }]"
				:content="item.content"
			/>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsAlertCore',

	computed: {
		...mapState('data/alert', {
			alertsData: 'alertsData'
		})
	}
}
</script>
