<template>
	<div>
		<DocsAlertCore />
		<hr />
		<DocsAlertBox />
	</div>
</template>

<script>
export default {
	name: 'AlertPage',

	layout: 'documentation',

	middleware: ['alert']
}
</script>

<style lang="scss" scoped></style>
