<template>
	<div>
		<DocsButtonsCore />
		<hr />
		<DocsButtonsSizing />
		<hr />
		<DocsButtonsIcons />
		<hr />
		<DocsButtonsIconText />
	</div>
</template>

<script>
export default {
	name: 'ButtonsPage',

	layout: 'documentation',

	middleware: ['buttons']
}
</script>
