<template>
	<div>
		<DocsBzIcon />
		<hr />
		<DocsBzIconSizing />
		<hr />
		<DocsBzIconDocumentation />
	</div>
</template>

<script>
export default {
	name: 'BziIconPage',

	layout: 'documentation'
}
</script>
