<template>
	<div>
		<DocsCardFlex />
		<hr />
		<DocsCardGrid />
	</div>
</template>

<script>
export default {
	name: 'CardPage',

	layout: 'documentation',

	middleware: 'card'
}
</script>

<style lang="scss" scoped></style>
