<template>
	<div>
		<DocsColorsTextColor />
		<hr />
		<DocsColorsBackgroundColor />
		<hr />
		<DocsColorsBlackTones />
		<hr />
		<DocsColorsLinkColor />
	</div>
</template>

<script>
export default {
	name: 'ColorsPage',

	layout: 'documentation',

	middleware: ['colors']
}
</script>
