<template>
	<div>
		<DocsTitle content="Environment" />
		<ul>
			<DocsListItem>
				<p>
					<strong>NodeJS</strong> versi 8 ke atas. Node harus di-<i>install</i>
					sebelum meng-<i>install</i> lainnya.
				</p>
				<DocsLinks :links="nodeJsLinks" />
			</DocsListItem>
			<DocsListItem>
				<p>
					<strong>Yeoman</strong>. Jalankan perintah di bawah di
					<i>command prompt</i>.
				</p>
				<DocsCommand>npm i -g yo</DocsCommand>
			</DocsListItem>
			<DocsListItem>
				<p>
					<strong>Gulp</strong>. Jalankan perintah di bawah di command prompt.
				</p>
				<DocsCommand>npm i -g gulp-cli</DocsCommand>
			</DocsListItem>
			<DocsListItem>
				<p><strong>Git</strong></p>
				<DocsLinks :links="gitLinks" />
			</DocsListItem>
			<DocsListItem>
				<p class="text-caps"><strong>Xampp</strong></p>
				<DocsLink :title="xamppLink.title" :link="xamppLink.link" />
			</DocsListItem>
			<DocsListItem>
				<p><strong>Generator Baze</strong></p>
				<p>
					Install
					<DocsLink
						:title="generatorBazeLink.title"
						:link="generatorBazeLink.link"
					/>
					dengan menjalankan perintah di bawah ini.
				</p>
				<DocsCommand>npm install generator-baze -g</DocsCommand>
				<p>Untuk install ke dalam project frontend, jalankan</p>
				<DocsCommand>yo baze</DocsCommand>
			</DocsListItem>
		</ul>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'GetStartedPage',

	layout: 'documentation',

	middleware: ['get-started'],

	computed: {
		...mapState('data/get-started', {
			nodeJsLinks: 'nodeJsLinks',
			gitLinks: 'gitLinks',
			xamppLink: 'xamppLink',
			generatorBazeLink: 'generatorBazeLink'
		})
	}
}
</script>

<style lang="scss" scoped>
a {
	&:hover,
	&:focus {
		color: $blue;
	}
}
</style>
