<template>
	<div>
		<DocsGridDefault />
		<hr />
		<DocsGridNoGutter />
		<hr />
		<DocsGridWithOffset />
		<hr />
		<DocsGridResponsive />
	</div>
</template>

<script>
export default {
	name: 'GridPage',

	layout: 'documentation'
}
</script>

<style lang="scss" scoped></style>
