<template>
	<div>
		<DocsTitle content="Heading" />
		<div>
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in headingTags"
				:key="index"
				:tag="item.tag"
				:content="item.content"
			/>
		</DocsCommand>

		<hr />

		<DocsTitle content="Heading Style" />
		<div>
			<p class="h1">Text size adjust h1</p>
			<p class="h2">Text size adjust h2</p>
			<p class="h3">Text size adjust h3</p>
			<p class="h4">Text size adjust h4</p>
			<p class="h5">Text size adjust h5</p>
			<p class="h6">Text size adjust h6</p>
		</div>
		<DocsCommand>
			<DocsHTMLElement
				v-for="(item, index) in headingStyleTags"
				:key="index"
				:tag="item.tag"
				:content="item.content"
				:attributes="item.attributes"
			/>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'HeadingsPage',

	layout: 'documentation',

	middleware: ['headings'],

	computed: {
		...mapState('data/headings', {
			headingTags: 'headingTags',
			headingStyleTags: 'headingStyleTags'
		})
	}
}
</script>
