<template>
	<div class="home__content flex gap-22 flex-column v-center">
		<img src="~/assets/img/logo.png" alt="Suit Baze Logo" class="mb-12" />
		<h1 class="text-fira f-26 mb-20">
			A minimal setup for your frontend environment
		</h1>
		<div class="button__wrapper bzg">
			<div class="bzg_c mb-16" data-col="s12,m6">
				<nuxt-link
					to="/get-started"
					class="btn--orange btn--block btn--fira text-caps"
					>Get Started</nuxt-link
				>
			</div>
			<div class="bzg_c mb-16" data-col="s12,m6">
				<a
					href="https://github.com/suitmedia/suit-baze"
					target="_blank"
					class="btn--ghost-white btn--block btn--fira text-caps"
				>
					Download
				</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'HomePage',

	layout: 'home'
}
</script>

<style lang="scss" scoped>
.home__content {
	max-width: 280px;

	@media #{$small} {
		max-width: 400px;
	}

	@media #{$medium} {
		max-width: 600px;
	}

	img {
		width: 80px;
		height: 80px;

		@media #{$small} {
			& {
				width: 120px;
				height: 120px;
			}
		}
	}

	h1 {
		line-height: 35px;
	}

	.button__wrapper {
		width: 75%;

		& > a {
			letter-spacing: -0.5px;
		}

		.btn--ghost-white {
			&:hover {
				color: black !important;
			}

			&:focus {
				color: $white;
			}
		}
	}
}
</style>
