<template>
	<div>
		<DocsTitle content="Lists" />

		<DocsListsOrderedList />
		<DocsListsUnorderedList />
		<DocsListsInlineList />
		<DocsListsNoStyleList />
	</div>
</template>

<script>
export default {
	name: 'ListsPage',

	layout: 'documentation'
}
</script>
