<template>
	<div>
		<DocsMedia />
		<hr />
		<DocsMediaWith />
	</div>
</template>

<script>
export default {
	name: 'MediaObjectPage',

	layout: 'documentation'
}
</script>

<style lang="scss" scoped></style>
