<template>
	<div>
		<DocsPagination />
		<hr />
		<DocsPaginationLeft />
		<hr />
		<DocsPaginationRight />
	</div>
</template>

<script>
export default {
	name: 'PaginationPage',

	layout: 'documentation'
}
</script>
