<template>
	<div>
		<DocsTitle content="Pokemon API" />
		<div class="mb-20">
			<input
				v-model="localSearchQuery"
				class="form-input form-input--block mb-20"
				type="text"
				placeholder="Enter pokemon name..."
			/>
			<div v-if="isSearch" class="mb-20">Searching pokemons 🚀</div>
			<DocsPokeList
				v-if="filterPokemons().length > 0"
				:pokemons="filterPokemons()"
			/>
			<div v-if="!isSearch && filterPokemons().length < 1">
				Pokemon not found 😕
			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
	name: 'PokeAPIPage',

	layout: 'documentation',

	middleware: 'pokemon',

	data() {
		return {
			localSearchQuery: '',
			timeoutQuery: null,
			isSearch: false,
			isInitial: true
		}
	},

	computed: {
		...mapState('pokemon', {
			pokemons: 'pokemons',
			searchQuery: 'searchQuery'
		})
	},

	watch: {
		localSearchQuery() {
			if (this.isInitial) {
				this.isInitial = false
				return
			}
			this.isSearch = true
			if (this.timeoutQuery) clearTimeout(this.timeoutQuery)
			this.timeoutQuery = setTimeout(() => {
				this.setSearchQuery(this.localSearchQuery)
				this.filterPokemons()
				this.isSearch = false
			}, 1000)
		}
	},

	mounted() {
		if (this.searchQuery) {
			this.localSearchQuery = this.searchQuery
		}
	},

	methods: {
		...mapMutations('pokemon', {
			setSearchQuery: 'setSearchQuery'
		}),

		filterPokemons() {
			if (!this.searchQuery) {
				return this.pokemons
			}
			return this.pokemons.filter(pokemon => {
				const found = pokemon.name
					.toLowerCase()
					.search(this.searchQuery.toLowerCase())
				if (found >= 0) return true
				return false
			})
		}
	}
}
</script>
