<template>
	<div>
		<DocsImageResolution />
		<hr />
		<DocsImagePicture />
		<hr />
		<DocsImageLazyLoading />
	</div>
</template>

<script>
export default {
	name: 'ResponsiveImagePage',

	layout: 'documentation'
}
</script>
