<template>
	<div>
		<DocsTitle content="Text Alignment" />

		<DocsTextLeft />
		<DocsTextCenter />
		<DocsTextRight />
	</div>
</template>

<script>
export default {
	name: 'TextAlignmentPage',

	layout: 'documentation'
}
</script>
