<template>
	<div>
		<DocsTitle content="Buttons" />
		<div>
			<p>
				<button class="btn--primary">Button Color</button>
				<button class="btn--ghost-primary">Button Color</button>
				<button class="btn--flat-primary">Button Color</button>
			</p>
			<p>
				<button class="btn--secondary">Button Color</button>
				<button class="btn--ghost-secondary">Button Color</button>
				<button class="btn--flat-secondary">Button Color</button>
			</p>
			<p>
				<button class="btn--warning">Button Color</button>
				<button class="btn--ghost-warning">Button Color</button>
				<button class="btn--flat-warning">Button Color</button>
			</p>
			<p>
				<button class="btn--danger">Button Color</button>
				<button class="btn--ghost-danger">Button Color</button>
				<button class="btn--flat-danger">Button Color</button>
			</p>
			<p>
				<button class="btn--black">Button Color</button>
				<button class="btn--ghost-black">Button Color</button>
				<button class="btn--flat-black">Button Color</button>
			</p>
			<p>
				<button class="btn--light-grey">Button Color</button>
				<button class="btn--ghost-light-grey">Button Color</button>
				<button class="btn--flat-light-grey">Button Color</button>
			</p>
			<p>
				<button class="btn--white">Button Color</button>
				<button class="btn--ghost-white">Button Color</button>
				<button class="btn--flat-white">Button Color</button>
			</p>
		</div>
		<DocsCommand>
			<div v-for="(row, rowIndex) in coreData" :key="rowIndex">
				<div>
					<DocsHTMLOpenTag tag="p" />
				</div>
				<div v-for="(column, columnIndex) in row" :key="columnIndex">
					<DocsHTMLSpacer :spacer="4" />
					<DocsHTMLOpenTag
						tag="button"
						:attributes="[{ title: 'class', value: column }]"
					/>Button Color<DocsHTMLCloseTag tag="button" />
				</div>
				<div><DocsHTMLCloseTag tag="p" /></div>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsButtonsCore',

	computed: {
		...mapState('data/buttons', {
			coreData: 'coreData'
		})
	}
}
</script>
