<template>
	<div>
		<DocsTitle content="Icon Only Buttons" />
		<div>
			<p>
				<button class="btn--primary btn--small btn--icon">
					<i class="bzi-search"></i>
				</button>
				<button class="btn--ghost-black btn--small btn--icon">
					<i class="bzi-close"></i>
				</button>
				<button class="btn--flat-light-grey btn--small btn--icon">
					<i class="bzi-user"></i>
				</button>
			</p>
			<p>
				<button class="btn--primary btn--icon">
					<i class="bzi-user"></i>
				</button>
				<button class="btn--ghost-black btn--icon">
					<i class="bzi-search"></i>
				</button>
				<button class="btn--flat-light-grey btn--icon">
					<i class="bzi-close"></i>
				</button>
			</p>
			<p>
				<button class="btn--primary btn--large btn--icon">
					<i class="bzi-close bzi-1_5x"></i>
				</button>
				<button class="btn--ghost-black btn--large btn--icon">
					<i class="bzi-user bzi-1_5x"></i>
				</button>
				<button class="btn--flat-light-grey btn--large btn--icon">
					<i class="bzi-search bzi-1_5x"></i>
				</button>
			</p>
		</div>
		<DocsCommand>
			<div v-for="(data, dataIndex) in iconOnlyData" :key="dataIndex">
				<div><DocsHTMLOpenTag tag="p" /></div>
				<div v-for="(icon, iconIndex) in data.icons" :key="iconIndex">
					<div>
						<DocsHTMLSpacer :spacer="4" /><DocsHTMLOpenTag
							tag="button"
							:attributes="[
								{
									title: 'class',
									value: `${
										iconIndex === 0
											? 'btn--primary'
											: iconIndex === 1
											? 'btn--ghost-black'
											: 'btn--flat-light-grey'
									}${data.btnSize ? ` ${data.btnSize}` : ''} btn--icon`
								}
							]"
						/>
					</div>
					<div>
						<DocsHTMLSpacer :spacer="8" /><DocsHTMLOpenTag
							tag="i"
							:attributes="[{ title: 'class', value: icon }]"
						/>
					</div>
					<div>
						<DocsHTMLSpacer :spacer="4" /><DocsHTMLCloseTag tag="button" />
					</div>
				</div>
				<div><DocsHTMLCloseTag tag="p" /></div>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsButtonsIcons',

	computed: {
		...mapState('data/buttons', {
			iconOnlyData: 'iconOnlyData'
		})
	}
}
</script>
