<template>
	<div>
		<DocsTitle content="Icon + Text Buttons" />
		<div>
			<p>
				<button class="btn--primary btn--small">
					Search <i class="bzi-search"></i>
				</button>
				<button class="btn--ghost-black btn--small">
					<i class="bzi-close"></i> Cancel
				</button>
				<button class="btn--flat-light-grey btn--small">
					Profile <i class="bzi-user"></i>
				</button>
			</p>
			<p>
				<button class="btn--primary"><i class="bzi-user"></i> Profile</button>
				<button class="btn--ghost-black">
					Search <i class="bzi-search"></i>
				</button>
				<button class="btn--flat-light-grey">
					<i class="bzi-close"></i> Cancel
				</button>
			</p>
			<p>
				<button class="btn--primary btn--large">
					Cancel <i class="bzi-close"></i>
				</button>
				<button class="btn--ghost-black btn--large">
					<i class="bzi-user"></i> Profile
				</button>
				<button class="btn--flat-light-grey btn--large">
					<i class="bzi-search"></i> Search
				</button>
			</p>
		</div>
		<DocsCommand>
			<div v-for="(data, dataIndex) in iconTextData" :key="dataIndex">
				<div>
					<DocsHTMLOpenTag tag="p" />
				</div>
				<div
					v-for="(iconText, iconTextIndex) in data.data"
					:key="iconTextIndex"
				>
					<div>
						<DocsHTMLSpacer :spacer="4" /><DocsHTMLOpenTag
							tag="button"
							:attributes="[
								{
									title: 'class',
									value: `${
										iconTextIndex === 0
											? 'btn--primary'
											: iconTextIndex === 1
											? 'btn--ghost-black'
											: 'btn--flat-light-grey'
									}${data.btnSize ? ` ${data.btnSize}` : ''}`
								}
							]"
						/>
					</div>
					<div>
						<DocsHTMLSpacer :spacer="8" />
						<span v-if="iconText.textFirst">
							<span>{{ iconText.text }}</span>
							<DocsHTMLOpenTag
								tag="i"
								:attributes="[{ title: 'class', value: iconText.icon }]"
							/><DocsHTMLCloseTag tag="i" />
						</span>
						<span v-else>
							<DocsHTMLOpenTag
								tag="i"
								:attributes="[{ title: 'class', value: iconText.icon }]"
							/><DocsHTMLCloseTag tag="i" /> <span>{{ iconText.text }}</span>
						</span>
					</div>
					<div>
						<DocsHTMLSpacer :spacer="4" /><DocsHTMLCloseTag tag="button" />
					</div>
				</div>
				<div>
					<DocsHTMLCloseTag tag="p" />
				</div>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsButtonsIconText',

	computed: {
		...mapState('data/buttons', {
			iconTextData: 'iconTextData'
		})
	}
}
</script>
