<template>
	<div>
		<DocsTitle content="Button Sizing" />
		<div>
			<p>
				<button class="btn--primary btn--small">Small Button</button>
				<button class="btn--ghost-primary btn--small">Small Button</button>
				<button class="btn--flat-primary btn--small">Small Button</button>
			</p>
			<p>
				<button class="btn--primary">Normal Button</button>
				<button class="btn--ghost-primary">Normal Button</button>
				<button class="btn--flat-primary">Normal Button</button>
			</p>
			<p>
				<button class="btn--primary btn--large">Large Button</button>
				<button class="btn--ghost-primary btn--large">Large Button</button>
				<button class="btn--flat-primary btn--large">Large Button</button>
			</p>
		</div>
		<DocsCommand>
			<div v-for="(size, sizeIndex) in sizingData" :key="sizeIndex">
				<div>
					<DocsHTMLOpenTag tag="p" />
				</div>
				<div v-for="(type, typeIndex) in primary" :key="typeIndex">
					<DocsHTMLSpacer :spacer="4" /><DocsHTMLOpenTag
						tag="button"
						:attributes="[
							{
								title: 'class',
								value: `${type}${size.btnSize ? ` ${size.btnSize}` : ''}`
							}
						]"
					/>{{ size.text }}<DocsHTMLCloseTag tag="button" />
				</div>
				<div>
					<DocsHTMLCloseTag tag="p" />
				</div>
			</div>
		</DocsCommand>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'DocsButtonsSizing',

	computed: {
		...mapState('data/buttons', {
			sizingData: 'sizingData',
			coreData: 'coreData'
		}),

		primary() {
			return this.coreData[0]
		}
	}
}
</script>
