<template>
	<div>
		<DocsTitle content="Data Table" />
		<div class="mb-10">
			<div class="table__header">
				<div>
					<span>Show</span>
					<select class="form-input">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
					</select>
					<span>entries</span>
				</div>
				<div>
					<span>Search:</span>
					<input class="form-input" type="text" />
				</div>
			</div>
			<div class="table-wrapper mb-20">
				<table class="table">
					<thead>
						<tr>
							<th
								v-for="(item, index) in sort"
								:key="index"
								class="cursor-pointer"
								@click="handleSort(item, index)"
							>
								{{ item.title }}
								<div class="control">
									<span
										v-if="
											currentSort !== item.title || item.sortState === 'asc'
										"
										class="bzi-caret-up"
									></span
									><span
										v-if="
											currentSort !== item.title || item.sortState === 'desc'
										"
										class="bzi-caret-down"
									></span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="i in 10" :key="i">
							<td>{{ i }}</td>
							<td>Suit</td>
							<td>Media</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table__footer">
				<p class="text-center">
					Showing 0 to 0 of 0 entries (filtered from NaN total entries)
				</p>
				<div>
					<ol class="pagination">
						<li>
							<a href="#"><i class="bzi-angle-left"></i></a>
						</li>
						<li><a href="#" class="is-active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li>
							<a href="#"><i class="bzi-angle-right"></i></a>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="table"
					:attributes="[
						{ title: 'class', value: 'js-datatable mb-4' },
						{
							title: 'data-table',
							value: 'https://reqres.in/api/users?page=1&per_page=12'
						}
					]"
				/>
			</div>
			<div><Spacer :spacer="4" /><OpenTag tag="thead" /></div>
			<div><Spacer :spacer="8" /><OpenTag tag="tr" /></div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="th" />ID<CloseTag tag="th" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="th" />First Name<CloseTag
					tag="th"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag tag="th" />Last Name<CloseTag
					tag="th"
				/>
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="tr" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="thead" /></div>
			<div><CloseTag tag="table" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsTableDataTable',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			currentSort: 'ID',
			sort: [
				{
					title: 'ID',
					sortState: 'desc'
				},
				{
					title: 'First Name',
					sortState: ''
				},
				{
					title: 'Last Name',
					sortState: ''
				}
			]
		}
	},

	methods: {
		handleSort(item, index) {
			if (this.currentSort === item.title) {
				this.sort[index].sortState =
					this.sort[index].sortState === 'asc' ? 'desc' : 'asc'
				return
			}

			this.currentSort = item.title
			this.sort[index].sortState = 'asc'
		}
	}
}
</script>

<style lang="scss" scoped>
.table__header {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > div {
		margin-bottom: 20px;
	}

	@media #{$medium} {
		flex-direction: row;
		justify-content: space-between;
	}
}

th.cursor-pointer {
	position: relative;

	.control {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);

		display: flex;
		flex-direction: column;

		span {
			margin: -7px 0;
			color: $light-grey;

			@media #{$medium} {
				margin: -8px 0;
			}
		}
	}
}

.table__footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media #{$medium} {
		flex-direction: row;
		justify-content: space-between;
	}
}
</style>
