<template>
	<div>
		<DocsTitle content="Table" />
		<div class="table-wrapper mb-20">
			<table class="table">
				<thead>
					<tr>
						<th>Header 1</th>
						<th>Header 2</th>
						<th>Header 3</th>
						<th>Header 4</th>
						<th>Header 5</th>
						<th>Header 6</th>
						<th>Header 7</th>
						<th>Header 8</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Row 2 Col 1</td>
						<td>Row 2 Col 2</td>
						<td>Row 2 Col 3</td>
						<td>Row 2 Col 4</td>
						<td>Row 2 Col 5</td>
						<td>Row 2 Col 6</td>
						<td>Row 2 Col 7</td>
						<td>Row 2 Col 8</td>
					</tr>
					<tr>
						<td>Row 3 Col 1</td>
						<td>Row 3 Col 2</td>
						<td>Row 3 Col 3</td>
						<td>Row 3 Col 4</td>
						<td>Row 3 Col 5</td>
						<td>Row 3 Col 6</td>
						<td>Row 3 Col 7</td>
						<td>Row 3 Col 8</td>
					</tr>
					<tr>
						<td>Change</td>
						<td>Window</td>
						<td>size</td>
						<td>to see</td>
						<td>Table</td>
						<td>Wrapper</td>
						<td>in</td>
						<td>action!</td>
					</tr>
				</tbody>
			</table>
		</div>
		<DocsCommand>
			<div>
				<OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'table-wrapper' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="table"
					:attributes="[{ title: 'class', value: 'table' }]"
				/>
			</div>
			<div><Spacer :spacer="8" /><OpenTag tag="thead" /></div>
			<div><Spacer :spacer="12" /><OpenTag tag="tr" /></div>
			<div v-for="i in 8" :key="i">
				<Spacer :spacer="16" /><OpenTag tag="th" />{{ i }}<CloseTag tag="th" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="tr" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="thead" /></div>
			<div><Spacer :spacer="8" /><OpenTag tag="tbody" /></div>
			<div><Spacer :spacer="12" /><OpenTag tag="tr" /></div>
			<div v-for="i in 8" :key="i">
				<Spacer :spacer="16" /><OpenTag tag="td" />Row 2 Col {{ i
				}}<CloseTag tag="td" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="tr" /></div>
			<div><Spacer :spacer="12" /><OpenTag tag="tr" /></div>
			<div v-for="i in 8" :key="i">
				<Spacer :spacer="16" /><OpenTag tag="td" />Row 3 Col {{ i
				}}<CloseTag tag="td" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="tr" /></div>
			<div><Spacer :spacer="12" /><OpenTag tag="tr" /></div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />Change<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />Window<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />size<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />to see<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />Table<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />Wrapper<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />in<CloseTag tag="td" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag tag="td" />action!<CloseTag tag="td" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="tr" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="tbody" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="table" /></div>
			<div><CloseTag tag="div" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsTable',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	}
}
</script>
