<template>
	<div>
		<DocsTitle content="Form" />
		<form action="" class="mb-20" @submit.prevent="handleSubmit">
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="text"
						class="form-input"
						type="text"
						name="text"
						placeholder="Text"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Full Width Input
				</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="fullWidth"
						class="form-input form-input--block"
						type="text"
						name="fullwidth"
						placeholder="Full Width Input"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Password Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="password"
						class="form-input"
						type="password"
						name="password"
						placeholder="Password"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="email"
						class="form-input"
						type="email"
						name="email"
						placeholder="Email"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="number"
						class="form-input"
						type="number"
						name="number"
						placeholder="Number"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Single File Input (Full Width)
				</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						id="singleFile"
						class="form-input js-file-input"
						type="file"
						name="file"
						@change="handleChangeSingleFile"
					/>
					<label class="flex form-file-label" for="singleFile">
						<div
							ref="singleFile"
							class="js-file-name form-file-input form-input--block"
						></div>
						<div class="btn--primary ml-4">Browse</div>
					</label>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Multiple File Input
				</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						id="multipleFile"
						ref="multiple-file"
						class="form-input js-file-input"
						type="file"
						name="file"
						multiple
						@change="handleChangeMultipleFile"
					/>
					<label class="flex form-file-label" for="multipleFile">
						<div ref="multipleFile" class="js-file-name form-file-input"></div>
						<div class="btn--primary ml-4">Browse</div>
					</label>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Textarea Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<textarea
						v-model="textarea"
						class="form-input"
						name="textarea"
						placeholder="Text Area"
					></textarea>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Disabled Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="text"
						name="disabled"
						placeholder="Disabled"
						disabled
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Read-only Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="text"
						name="readonly"
						placeholder="Read-only"
						readonly
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Dropdown Select</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<select v-model="dropdown" class="form-input" name="dropdown">
						<option disabled value="">Please select</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group">
						<label class="form-check__item" for="rbOption1"
							><input
								id="rbOption1"
								v-model="radio"
								type="radio"
								name="radio"
								value="radio1"
							/>
							Option 1</label
						>
						<label class="form-check__item" for="rbOption2"
							><input
								id="rbOption2"
								v-model="radio"
								type="radio"
								name="radio"
								value="radio2"
							/>
							Option 2</label
						>
						<label class="form-check__item" for="rbOption3"
							><input
								id="rbOption3"
								v-model="radio"
								type="radio"
								name="radio"
								value="radio3"
							/>
							Option 3</label
						>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group">
						<label class="form-check__item" for="cbOption1"
							><input
								id="cbOption1"
								v-model="checkbox.option1"
								type="checkbox"
								name="checkbox"
								checked
							/>
							Option 1</label
						>
						<label class="form-check__item" for="cbOption2"
							><input
								id="cbOption2"
								v-model="checkbox.option2"
								type="checkbox"
								name="checkbox"
							/>
							Option 2</label
						>
						<label class="form-check__item" for="cbOption3"
							><input
								id="cbOption3"
								v-model="checkbox.option3"
								type="checkbox"
								name="checkbox"
								checked
							/>
							Option 3</label
						>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
					<button class="btn btn--primary" type="submit">Submit</button>
					<button class="btn btn--ghost-secondary" type="reset">Cancel</button>
				</div>
			</div>
		</form>
		<DocsCommand>
			<div>
				<OpenTag tag="form" :attributes="[{ title: 'action', value: '' }]" />
			</div>
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Text Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'text' },
						{ title: 'placeholder', value: 'Text' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Full Width Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input form-input--block' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'fullWidth' },
						{ title: 'placeholder', value: 'Full Width Input' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Password Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'password' },
						{ title: 'name', value: 'password' },
						{ title: 'placeholder', value: 'Password' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Email Address<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'email' },
						{ title: 'name', value: 'email' },
						{ title: 'placeholder', value: 'Email' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Number Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'number' },
						{ title: 'name', value: 'number' },
						{ title: 'placeholder', value: 'Number' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Single File Input (Full Width)<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input js-file-input' },
						{ title: 'id', value: 'singleFile' },
						{ title: 'type', value: 'file' },
						{ title: 'name', value: 'file' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'flex form-file-label' },
						{ title: 'for', value: 'singleFile' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag
					tag="div"
					:attributes="[
						{
							title: 'class',
							value: 'js-file-name form-file-input form-input--block'
						}
					]"
				/><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag
					tag="div"
					:attributes="[
						{
							title: 'class',
							value: 'btn--primary ml-4'
						}
					]"
				/>Browse<CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="label" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Multiple File Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input js-file-input' },
						{ title: 'id', value: 'multipleFile' },
						{ title: 'type', value: 'file' },
						{ title: 'name', value: 'file' },
						{ title: 'multiple', value: 'true' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'flex form-file-label' },
						{ title: 'for', value: 'multipleFile' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag
					tag="div"
					:attributes="[
						{
							title: 'class',
							value: 'js-file-name form-file-input'
						}
					]"
				/><CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="16" /><OpenTag
					tag="div"
					:attributes="[
						{
							title: 'class',
							value: 'btn--primary ml-4'
						}
					]"
				/>Browse<CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="label" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Textarea Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="textarea"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'name', value: 'textarea' },
						{ title: 'placeholder', value: 'Text Area' }
					]"
				/><CloseTag tag="textarea" /><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Disable Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'disabled' },
						{ title: 'placeholder', value: 'Disabled' },
						{ title: 'disabled', value: 'true' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Read Only Input<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'readonly' },
						{ title: 'placeholder', value: 'Read-Only' }
					]"
				/><CloseTag tag="div" />
			</div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Dropdown Select<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="select"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'name', value: 'dropdown' }
					]"
				/>
			</div>
			<div v-for="i in 3" :key="i">
				<Spacer :spacer="16" /><OpenTag tag="option" :value="i" />Option {{ i
				}}<CloseTag tag="option" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="select" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Radio Buttons<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'form-check-group' }]"
				/>
			</div>
			<div v-for="i in 3" :key="i">
				<Spacer :spacer="16" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'form-check__item' },
						{ title: 'for', value: `rbOption${i}` }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'id', value: `rbOption${i}` },
						{ title: 'type', value: 'radio' },
						{ title: 'name', value: 'radio' }
					]"
				/>
				Option {{ i }}<CloseTag tag="label" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="select" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Checkbox<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'form-check-group' }]"
				/>
			</div>
			<div v-for="i in 3" :key="i">
				<Spacer :spacer="16" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'form-check__item' },
						{ title: 'for', value: `cbOption${i}` }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'id', value: `cbOption${i}` },
						{ title: 'type', value: 'checkbox' },
						{ title: 'name', value: 'checkbox' },
						{ title: 'checked', value: i === 1 || i === 3 ? 'true' : 'false' }
					]"
				/>
				Option {{ i }}<CloseTag tag="label" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="select" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' },
						{ title: 'data-offset', value: 'm4,l4' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="button"
					:attributes="[
						{ title: 'class', value: 'btn btn--primary' },
						{ title: 'type', value: 'submit' }
					]"
				/>Submit<CloseTag tag="button" />
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="button"
					:attributes="[
						{ title: 'class', value: 'btn btn--ghost-secondary' },
						{ title: 'type', value: 'reset' }
					]"
				/>Cancel<CloseTag tag="button" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<div><CloseTag tag="form" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsFormIndex',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			text: '',
			fullWidth: '',
			password: '',
			email: '',
			number: '',
			singleFile: '',
			multipleFile: '',
			textarea: '',
			dropdown: '',
			radio: '',
			checkbox: {
				option1: true,
				option2: false,
				option3: false
			},
			formattedCheckbox: ''
		}
	},

	watch: {
		checkbox: {
			handler(newVal) {
				this.formattedCheckbox = ''
				this.formattedCheckbox = newVal.option1 ? 'option1' : ''
				this.formattedCheckbox += newVal.option2 ? ' option2' : ''
				this.formattedCheckbox += newVal.option3 ? ' option3' : ''
			},
			deep: true
		}
	},

	methods: {
		handleChangeSingleFile(ev) {
			const file = ev.target.files[0]
			if (!file) {
				this.$refs.singleFile.innerText = ''
				return
			}
			const fileName = file.name
			this.$refs.singleFile.innerText = fileName
			this.singleFile = fileName
		},

		handleChangeMultipleFile(ev) {
			const files = ev.target.files
			const totalFile = files.length

			if (totalFile < 1) {
				this.$refs.multipleFile.innerText = ''
				return
			}

			if (totalFile < 2) {
				const file = files[0]
				const fileName = file.name
				this.$refs.multipleFile.innerText = fileName
				this.multipleFile = fileName
			} else {
				this.$refs.multipleFile.innerText = `${totalFile} files selected`
				const arrayFiles = []
				for (const file of files) {
					arrayFiles.push(file.name)
				}
				const stringFiles = arrayFiles.join(' + ')
				this.multipleFile = stringFiles
			}
		},

		handleSubmit() {
			this.$router.push({
				path: 'form',
				query: {
					text: this.text,
					fullWidth: this.fullWidth,
					password: this.password,
					email: this.email,
					number: this.number,
					singleFile: this.singleFile,
					multipleFile: this.multipleFile,
					textarea: this.textarea,
					dropdown: this.dropdown,
					radio: this.radio,
					checkbox: this.formattedCheckbox
				}
			})
		}
	}
}
</script>
