<template>
	<div>
		<DocsTitle content="Form Validation" />
		<form action="" class="js-validate mb-20" @submit.prevent="handleSubmit">
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="username"
						class="form-input"
						:class="{
							'form-input--error': $v.username.$error,
							'form-input--success': !$v.username.$error && $v.username.$dirty
						}"
						type="text"
						name="username"
						placeholder="Username"
					/>
					<span v-if="$v.username.$error">
						<span v-if="!$v.username.required">This field is required</span>
					</span>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="email"
						class="form-input"
						:class="{
							'form-input--error': $v.email.$error,
							'form-input--success': !$v.email.$error && $v.email.$dirty
						}"
						type="email"
						name="email"
						placeholder="Email"
					/>
					<span v-if="$v.email.$error">
						<span v-if="!$v.email.required">This field is required</span>
						<span v-if="!$v.email.email">Invalid email address</span>
					</span>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="birthdate"
						class="form-input datepicker-here js-date"
						:class="{
							'form-input--error': $v.birthdate.$error,
							'form-input--success': !$v.birthdate.$error && $v.birthdate.$dirty
						}"
						type="date"
						name="birthdate"
						placeholder="Birthdate"
					/>
					<span v-if="$v.birthdate.$error">
						<span v-if="!$v.birthdate.required">This field is required</span>
					</span>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div
						class="form-check-group"
						:class="{
							'form-input--error': $v.gender.$error
						}"
					>
						<label class="form-check__item" for="gender1"
							><input
								id="gender1"
								v-model="gender"
								type="radio"
								name="gender"
								value="Male"
							/>
							Male</label
						>
						<label class="form-check__item" for="gender2"
							><input
								id="gender2"
								v-model="gender"
								type="radio"
								name="gender"
								value="Female"
							/>
							Female</label
						>
						<span v-if="$v.gender.$error">
							<span v-if="!$v.gender.required">This field is required</span>
						</span>
					</div>
				</div>
			</div>
			<div class="bzg mb-24">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div
						class="form-check-group form-input--block"
						:class="{
							'form-input--error': $v.hobbies.$error
						}"
					>
						<label class="form-check__item" for="hobby1"
							><input
								id="hobby1"
								v-model="checkboxHobbies.reading"
								type="checkbox"
								name="hobby"
							/>
							Reading</label
						>
						<label class="form-check__item" for="hobby2"
							><input
								id="hobby2"
								v-model="checkboxHobbies.writing"
								type="checkbox"
								name="hobby"
							/>
							Writing</label
						>
						<label class="form-check__item" for="hobby3"
							><input
								id="hobby3"
								v-model="checkboxHobbies.running"
								type="checkbox"
								name="hobby"
							/>
							Running</label
						>
						<label
							class="form-check__item"
							for="hobby4"
							data-invalid="Custom Error Message"
							><input
								id="hobby4"
								v-model="checkboxHobbies.swimming"
								type="checkbox"
								name="hobby"
							/>
							Swimming</label
						>
					</div>
					<span v-if="$v.hobbies.$error">
						<span v-if="!$v.hobbies.customValidator"
							>Custom Error Message - Required</span
						>
					</span>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
					<button class="btn btn--primary" type="submit">Submit</button>
				</div>
			</div>
		</form>
		<DocsCommand>
			<div>
				<OpenTag
					tag="form"
					:attributes="[
						{ title: 'action', value: '' },
						{ title: 'class', value: 'js-validate' }
					]"
				/>
			</div>
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Username<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'username' },
						{ title: 'placeholder', value: 'Username' },
						{ title: 'required', value: 'true' }
					]"
				/>
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Email<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input' },
						{ title: 'type', value: 'email' },
						{ title: 'name', value: 'email' },
						{ title: 'placeholder', value: 'Email' },
						{ title: 'required', value: 'true' }
					]"
				/>
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Birthdate<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="input"
					:attributes="[
						{ title: 'class', value: 'form-input datepicker-here js-date' },
						{ title: 'type', value: 'text' },
						{ title: 'name', value: 'birthdate' },
						{ title: 'placeholder', value: 'Birthdate' },
						{ title: 'required', value: 'true' }
					]"
				/>
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Gender<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'form-check-group' }]"
				/>
			</div>
			<div v-for="i in 2" :key="i">
				<Spacer :spacer="16" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'form-check__item' },
						{ title: 'for', value: `gender${i}` }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'id', value: `gender${i}` },
						{ title: 'type', value: 'radio' },
						{ title: 'name', value: 'gender' },
						{ title: 'required', value: i === 1 ? 'true' : 'false' }
					]"
				/>
				{{ i === 1 ? 'Male' : 'Female' }}<CloseTag tag="label" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'class', value: 'bzg mb-24' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c form-label' },
						{ title: 'data-col', value: 's12,m4,l4' }
					]"
				/>Hobbies<CloseTag tag="div" />
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'form-check-group form-input--block' }
					]"
				/>
			</div>
			<div v-for="i in 4" :key="i">
				<Spacer :spacer="16" /><OpenTag
					tag="label"
					:attributes="[
						{ title: 'class', value: 'form-check__item' },
						{ title: 'for', value: `hobby${i}` }
					]"
				/><OpenTag
					tag="input"
					:attributes="[
						{ title: 'id', value: `hobby${i}` },
						{ title: 'type', value: 'checkbox' },
						{
							title: 'name',
							value: 'hobby'
						},
						{ title: 'required', value: i === 1 ? 'true' : 'false' }
					]"
				/>
				{{
					i === 1
						? 'Reading'
						: i === 2
						? 'Writing'
						: i === 3
						? 'Running'
						: 'Swimming'
				}}<CloseTag tag="label" />
			</div>
			<div><Spacer :spacer="12" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			<!-- end item -->
			<!-- item -->
			<div>
				<Spacer :spacer="4" /><OpenTag
					tag="div"
					:attributes="[{ title: 'classs', value: 'bzg mb-12' }]"
				/>
			</div>
			<div>
				<Spacer :spacer="8" /><OpenTag
					tag="div"
					:attributes="[
						{ title: 'class', value: 'bzg_c' },
						{ title: 'data-col', value: 's12,m8,l8' },
						{ title: 'data-offset', value: 'm4,l4' }
					]"
				/>
			</div>
			<div>
				<Spacer :spacer="12" /><OpenTag
					tag="button"
					:attributes="[
						{ title: 'class', value: 'btn btn--primary' },
						{ title: 'type', value: 'submit' }
					]"
				/>Submit<CloseTag tag="button" />
			</div>
			<div><Spacer :spacer="8" /><CloseTag tag="div" /></div>
			<div><Spacer :spacer="4" /><OpenTag tag="div" /></div>
			<!-- end item -->
			<div><CloseTag tag="form" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

// custom validator
const customValidator = value => value.length > 0

export default {
	name: 'DocsFormValidation',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			username: '',
			email: '',
			birthdate: '',
			gender: '',
			hobbies: '',
			checkboxHobbies: {
				reading: false,
				writing: false,
				running: false,
				swimming: false
			}
		}
	},

	watch: {
		checkboxHobbies: {
			handler() {
				this.hobbies = ''
				this.hobbies += this.checkboxHobbies.reading ? 'reading ' : ''
				this.hobbies += this.checkboxHobbies.writing ? 'writing ' : ''
				this.hobbies += this.checkboxHobbies.running ? 'running ' : ''
				this.hobbies += this.checkboxHobbies.swimming ? 'swimming ' : ''
			},
			deep: true
		}
	},

	validations: {
		username: {
			required
		},
		email: {
			required,
			email
		},
		birthdate: {
			required
		},
		gender: {
			required
		},
		hobbies: {
			customValidator
		}
	},

	methods: {
		handleSubmit() {
			this.$v.$touch()

			if (this.$v.$error) {
				return
			}

			this.$router.push({
				path: 'form',
				query: {
					username: this.username,
					email: this.email,
					birthdate: this.birthdate,
					gender: this.gender,
					hobbies: this.hobbies
				}
			})
		}
	}
}
</script>
