<template>
	<div class="command bg-third-grey p-8 ph-10 mb-20 f-14 flex">
		<code style="white-space: nowrap">
			<slot />
		</code>
	</div>
</template>

<script>
export default {
	name: 'DocsCommand'
}
</script>

<style lang="scss" scoped>
.command {
	overflow-x: auto;
}
</style>
