<template>
	<div class="flex v-center gap-4">
		<DocsLink
			:title="links[0].title"
			:link="links[0].link"
			:icon="links[0].icon"
		/>
		<div class="text-dark-grey">|</div>
		<DocsLink
			:title="links[1].title"
			:link="links[1].link"
			:icon="links[1].icon"
		/>
	</div>
</template>

<script>
export default {
	name: 'DocsLinks',

	props: {
		links: {
			type: Array,
			required: true
		}
	}
}
</script>
