<template>
	<span>
		<span v-if="icon" class="text-primary" :class="icon"></span>
		<a :href="link" target="_blank">{{ title }}</a>
	</span>
</template>

<script>
export default {
	name: 'DocsLink',

	props: {
		title: {
			type: String,
			required: true
		},
		link: {
			type: String,
			required: true
		},
		icon: {
			type: String,
			default: null
		}
	}
}
</script>
