<template>
	<nav class="bg-orange flex f-space-between v-center">
		<div class="flex gap-8">
			<button
				class="bzi-bars btn text-white"
				@click="changeSidebarStatus(true)"
			></button>
			<nuxt-link to="/" class="flex v-center gap-12 pv-8 ph-20">
				<img
					src="~/assets/img/logo-white.png"
					alt="Suit Baze Logo"
					height="35"
					width="35"
				/>
				<span class="brand h3 text-white text-fira f--bold mb-0">Suitbaze</span>
			</nuxt-link>
		</div>

		<a
			href="https://github.com/suitmedia/generator-suit-baze"
			target="_blank"
			class="bzi-github text-white f-24 cursor-pointer mr-20"
		></a>
	</nav>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
	name: 'DocsNavbar',

	methods: {
		...mapMutations('sidebar', {
			changeSidebarStatus: 'changeSidebarStatus'
		})
	}
}
</script>

<style lang="scss" scoped>
nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	z-index: 3;

	.bzi-bars {
		background: $black80;
		display: inline-block;

		&:hover {
			background: $black70;
		}

		@media #{$medium} {
			display: none;
		}
	}

	.brand,
	.bzi-github {
		&:hover {
			color: $secondary-light-grey;
		}

		&:focus {
			color: $white;
		}
	}
}
</style>
