<template>
	<div>
		<div class="sidebar pt-56" :class="{ active: isSidebarOpen }">
			<DocsSidebarItem
				v-for="(item, index) in links"
				:key="index"
				:item="item"
			/>
		</div>
		<div
			v-if="isSidebarOpen"
			class="background__sidebar"
			@click="changeSidebarStatus(false)"
		></div>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
	name: 'DocsSidebar',

	computed: {
		...mapState('sidebar', {
			isSidebarOpen: 'isSidebarOpen'
		}),

		...mapState('data/sidebar', {
			links: 'links'
		})
	},

	mounted() {
		window.addEventListener('resize', this.checkWindowSize)
	},

	beforeDestroy() {
		window.removeEventListener('resize', this.checkWindowSize)
	},

	methods: {
		...mapMutations('sidebar', {
			changeSidebarStatus: 'changeSidebarStatus'
		}),

		checkWindowSize() {
			if (window.innerWidth > 768) {
				this.changeSidebarStatus(false)
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.sidebar {
	width: 220px;
	left: -100vw;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	box-shadow: 0.5px 0 4px rgba(0, 0, 0, 0.5);
	background: white;
	transition: all 0.5s ease;
	z-index: 2;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #cccccc;
		border-radius: 12px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #a3a3a3;
	}

	@media #{$medium} {
		& {
			left: 0;
		}
	}

	&.active {
		left: 0;
	}
}

.background__sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
</style>
