<template>
	<div>
		<nuxt-link
			v-if="!item.hasChild"
			:to="item.link"
			class="sidebar__item d-block ph-20 pv-12 f-16"
			@click.native="changeSidebarStatus(false)"
			>{{ item.title }}</nuxt-link
		>
		<div v-else>
			<button
				class="sidebar__item flex ph-20 pv-12 f-16 cursor-pointer f-space-between"
				@click="showChild = !showChild"
			>
				<span>{{ item.title }}</span>
				<span :class="[showChild ? 'bzi-caret-up' : 'bzi-caret-down']"></span>
			</button>
			<div v-if="showChild">
				<nuxt-link
					v-for="(child, index) in item.child"
					:key="index"
					:to="child.link"
					class="sidebar__item d-block ph-32 pv-12 f-16"
					@click.native="changeSidebarStatus(false)"
				>
					{{ child.title }}
				</nuxt-link>
			</div>
		</div>
	</div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
	name: 'DocsSidebarLink',

	props: {
		item: {
			type: Object,
			required: true
		}
	},

	data() {
		return {
			showChild: false
		}
	},

	methods: {
		...mapMutations('sidebar', {
			changeSidebarStatus: 'changeSidebarStatus'
		})
	}
}
</script>

<style lang="scss" scoped>
.sidebar__item {
	color: $grey;

	// make sure the button follow the style
	width: 100%;
	background: transparent;
	border: 0;

	&.nuxt-link-active {
		color: $dark-grey;
		font-weight: 600;
		background: $secondary-grey;
	}

	&:hover {
		color: $dark-grey;
	}
}
</style>
