<template>
	<div class="f--bold f-18 text-dark-grey mb-12">{{ content }}</div>
</template>

<script>
export default {
	name: 'DocsSubTitle',

	props: {
		content: {
			type: String,
			required: true
		}
	}
}
</script>
