<template>
	<h1 class="text-orange text-fira f--bold h2">{{ content }}</h1>
</template>

<script>
export default {
	name: 'DocsTitle',

	props: {
		content: {
			type: String,
			required: true
		}
	}
}
</script>
