<template>
	<div>
		<DocsTitle content="Slick Adaptive Height" />
		<div class="slick__wrapper">
			<VueSlickCarousel v-bind="settings">
				<div v-for="(content, index) in adaptiveContent" :key="index">
					<h2>{{ content.title }}</h2>
					<p>{{ content.description }}</p>
				</div>
			</VueSlickCarousel>
		</div>
		<DocsCommand>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatSettings" />
			</div>
			<div v-for="(item, index) in adaptiveContent" :key="index">
				<div><Spacer :spacer="4" /><OpenTag tag="div" /></div>
				<div>
					<Spacer :spacer="8" /><OpenTag tag="h2" />{{ item.title
					}}<CloseTag tag="h2" />
				</div>
				<div>
					<Spacer :spacer="8" /><OpenTag tag="p" />{{ item.description
					}}<CloseTag tag="p" />
				</div>
				<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsSlickAdaptive',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			settings: {
				dots: true,
				infinite: true,
				speed: 500,
				slidesToShow: 1,
				adaptiveHeight: true
			},
			adaptiveContent: [
				{
					title: 'First',
					description: ''
				},
				{
					title: 'Second',
					description:
						'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quo ducimus perspiciatis quod, unde ipsa quasi placeat consequatur in animi. Rerum, facilis labore porro autem, laudantium fuga iusto laboriosam alias quia qui ex vel ipsam, ut repellendus! Id, labore expedita.'
				},
				{
					title: 'Third',
					description:
						'Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dolorem mollitia nihil delectus aliquid modi corrupti hic earum aspernatur facere?'
				}
			]
		}
	},

	computed: {
		formatSettings() {
			const formatData = []
			for (const setting in this.settings) {
				formatData.push({
					title: setting,
					value: this.settings[setting]
				})
			}
			return formatData
		}
	}
}
</script>
