<template>
	<div>
		<DocsTitle content="Slick Autoplay" />
		<div class="slick__wrapper">
			<VueSlickCarousel v-bind="settings">
				<div v-for="(content, index) in autoContent" :key="index">
					<h2>{{ content }}</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Et amet,
						vel, maxime illum sint laboriosam ex sequi rem beatae dolorum dolore
						totam accusantium architecto deserunt magnam tempora esse dicta
						laborum?
					</p>
				</div>
			</VueSlickCarousel>
		</div>
		<DocsCommand>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatSettings" />
			</div>
			<div v-for="(item, index) in autoContent" :key="index">
				<div><Spacer :spacer="4" /><OpenTag tag="div" /></div>
				<div>
					<Spacer :spacer="8" /><OpenTag tag="h2" />{{ item
					}}<CloseTag tag="h2" />
				</div>
				<div><Spacer :spacer="8" /><OpenTag tag="p" /></div>
				<div>
					<Spacer :spacer="12" />Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Et amet,
				</div>
				<div>
					<Spacer :spacer="12" />vel, maxime illum sint laboriosam ex sequi rem
					beatae dolorum dolore
				</div>
				<div>
					<Spacer :spacer="12" />totam accusantium architecto deserunt magnam
					tempora esse dicta laborum?
				</div>
				<div><Spacer :spacer="8" /><CloseTag tag="p" /></div>
				<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsSlickAuto',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			settings: {
				dots: true,
				infinite: true,
				autoplay: true,
				autoplaySpeed: 1000,
				slidesToShow: 3,
				slidesToScroll: 1
			},
			autoContent: ['First', 'Second', 'Third', 'Fourth', 'Fifth', 'Sixth']
		}
	},

	computed: {
		formatSettings() {
			const formatData = []
			for (const setting in this.settings) {
				formatData.push({
					title: setting,
					value: this.settings[setting]
				})
			}
			return formatData
		}
	}
}
</script>
