<template>
	<div>
		<DocsTitle content="Slick Single Item" />
		<div class="slick__wrapper">
			<VueSlickCarousel v-bind="settings">
				<div v-for="(content, index) in singleContent" :key="index">
					<h2>{{ content }}</h2>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting
						industry. Lorem Ipsum has been the industrys standard dummy text
						ever since the 1500s, when an unknown printer took a galley of type
						and scrambled it to make a type specimen book. It has survived not
						only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged.
					</p>
				</div>
			</VueSlickCarousel>
		</div>
		<DocsCommand>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatSettings" />
			</div>
			<div v-for="(item, index) in singleContent" :key="index">
				<div><Spacer :spacer="4" /><OpenTag tag="div" /></div>
				<div>
					<Spacer :spacer="8" /><OpenTag tag="h2" />{{ item
					}}<CloseTag tag="h2" />
				</div>
				<div><Spacer :spacer="8" /><OpenTag tag="p" /></div>
				<div>
					<Spacer :spacer="12" />Lorem Ipsum is simply dummy text of the
					printing and typesetting
				</div>
				<div>
					<Spacer :spacer="12" />industry. Lorem Ipsum has been the industrys
					standard dummy text
				</div>
				<div>
					<Spacer :spacer="12" />ever since the 1500s, when an unknown printer
					took a galley of type
				</div>
				<div>
					<Spacer :spacer="12" />and scrambled it to make a type specimen book.
					It has survived not
				</div>
				<div>
					<Spacer :spacer="12" />only five centuries, but also the leap into
					electronic typesetting,
				</div>
				<div><Spacer :spacer="12" />remaining essentially unchanged.</div>
				<div><Spacer :spacer="8" /><CloseTag tag="p" /></div>
				<div><Spacer :spacer="4" /><CloseTag tag="div" /></div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsSlickSingle',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			settings: {
				dots: true,
				infinite: true,
				speed: 500,
				slidesToShow: 1,
				slidesToScroll: 1
			},
			singleContent: ['First', 'Second', 'Third']
		}
	},

	computed: {
		formatSettings() {
			const formatData = []
			for (const setting in this.settings) {
				formatData.push({
					title: setting,
					value: this.settings[setting]
				})
			}
			return formatData
		}
	}
}
</script>
