<template>
	<div>
		<DocsTitle content="Synchronized Slick" />

		<div class="slick__wrapper">
			<VueSlickCarousel
				ref="bigRef"
				:as-nav-for="smallRef"
				:focus-on-select="true"
				:arrows="false"
				:fade="true"
			>
				<div v-for="(content, index) in bigContent" :key="index">
					<img :src="content" alt="Image Content" />
				</div>
			</VueSlickCarousel>
		</div>
		<div class="slick__wrapper">
			<VueSlickCarousel
				ref="smallRef"
				:as-nav-for="bigRef"
				:focus-on-select="true"
				:slides-to-show="5"
				:center-mode="true"
				:dots="true"
				:responsive="[{ breakpoint: 1024, settings: { slidesToShow: 3 } }]"
			>
				<div v-for="(content, index) in smallContent" :key="index">
					<img :src="content" alt="Image Content" />
				</div>
			</VueSlickCarousel>
		</div>

		<DocsCommand>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatBigSettings" />
			</div>
			<div v-for="(item, index) in bigContent" :key="index">
				<div>
					<Spacer :spacer="4" /><OpenTag tag="div" /><OpenTag
						tag="img"
						:attributes="[
							{ title: 'src', value: item },
							{ title: 'alt', value: '' }
						]"
					/><CloseTag tag="div" />
				</div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatSmallSettings" />
			</div>
			<div v-for="(item, index) in smallContent" :key="index">
				<div>
					<Spacer :spacer="4" /><OpenTag tag="div" /><OpenTag
						tag="img"
						:attributes="[
							{ title: 'src', value: item },
							{ title: 'alt', value: '' }
						]"
					/><CloseTag tag="div" />
				</div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsSlickSync',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			bigRef: undefined,
			smallRef: undefined,
			bigContent: [
				'//via.placeholder.com/1200x500?text=1A',
				'//via.placeholder.com/1200x500?text=1B',
				'//via.placeholder.com/1200x500?text=1C',
				'//via.placeholder.com/1200x500?text=1D',
				'//via.placeholder.com/1200x500?text=1E',
				'//via.placeholder.com/1200x500?text=1F',
				'//via.placeholder.com/1200x500?text=1G'
			],
			smallContent: [
				'//via.placeholder.com/150?text=1A',
				'//via.placeholder.com/150?text=1B',
				'//via.placeholder.com/150?text=1C',
				'//via.placeholder.com/150?text=1D',
				'//via.placeholder.com/150?text=1E',
				'//via.placeholder.com/150?text=1F',
				'//via.placeholder.com/150?text=1G'
			],
			bigSettings: {
				ref: 'bigRef',
				asNavFor: '$refs.smallRef',
				focusOnSelect: 'true',
				arrows: 'false',
				fade: 'true'
			},
			smallSettings: {
				ref: 'smallRef',
				asNavFor: '$refs.bigRef',
				focusOnSelect: 'true',
				slidesToShow: '5',
				centerMode: 'true',
				dots: 'true',
				responsive: '[{ breakpoint: 1024, settings: { slidesToShow: 3 } }]'
			}
		}
	},

	computed: {
		formatBigSettings() {
			const formatData = []
			for (const setting in this.bigSettings) {
				formatData.push({
					title: setting,
					value: this.bigSettings[setting]
				})
			}
			return formatData
		},
		formatSmallSettings() {
			const formatData = []
			for (const setting in this.smallSettings) {
				formatData.push({
					title: setting,
					value: this.smallSettings[setting]
				})
			}
			return formatData
		}
	},

	mounted() {
		this.bigRef = this.$refs.bigRef
		this.smallRef = this.$refs.smallRef
	}
}
</script>
