<template>
	<div>
		<DocsTitle content="Slick Variable Width" />
		<div class="slick__wrapper">
			<VueSlickCarousel v-bind="settings">
				<div v-for="(content, index) in widthContent" :key="index">
					<img :src="content" alt="Slick Content" />
				</div>
			</VueSlickCarousel>
		</div>
		<DocsCommand>
			<div>
				<OpenTag tag="VueSlickCarousel" :attributes="formatSettings" />
			</div>
			<div v-for="(item, index) in widthContent" :key="index">
				<div>
					<Spacer :spacer="4" /><OpenTag tag="div" /><OpenTag
						tag="img"
						:attributes="[
							{ title: 'src', value: item },
							{ title: 'alt', value: '' }
						]"
					/><CloseTag tag="div" />
				</div>
			</div>
			<div><CloseTag tag="VueSlickCarousel" /></div>
		</DocsCommand>
	</div>
</template>

<script>
import OpenTag from '../HTML/OpenTag.vue'
import CloseTag from '../HTML/CloseTag.vue'
import Spacer from '../HTML/Spacer.vue'

export default {
	name: 'DocsSlickWidth',

	components: {
		OpenTag,
		CloseTag,
		Spacer
	},

	data() {
		return {
			settings: {
				dots: true,
				infinite: true,
				speed: 500,
				slidesToShow: 1,
				centerMode: true,
				variableWidth: true
			},
			widthContent: [
				'//via.placeholder.com/100x150?text=100px',
				'//via.placeholder.com/150x150?text=150px',
				'//via.placeholder.com/500x150?text=500px',
				'//via.placeholder.com/200x150?text=200px',
				'//via.placeholder.com/300x150?text=300px',
				'//via.placeholder.com/600x150?text=600px'
			]
		}
	},

	computed: {
		formatSettings() {
			const formatData = []
			for (const setting in this.settings) {
				formatData.push({
					title: setting,
					value: this.settings[setting]
				})
			}
			return formatData
		}
	}
}
</script>
